@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
h1{
    color: #fdfdfd;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h2{
    color: #fdfdfd;
}
.my-custom-scrollbar {
    position: relative;
    height: 490px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
    }

.header{
    position:sticky;
    top: 0 ;
}
.container{
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.styled-table thead tr {
background: #4594E4;
text-align: left;
font-weight: bold;
}

.styled-table th,
.styled-table td { 
    background-color: rgba(0, 0, 0, 0.568);
    padding: 12px 15px;
    background-color: rgba(0, 0, 0, 0.568);
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4594E4;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
}
