<!--<div class="form-group row">
    <app-product-form [name]="'kevin'"></app-product-form>
</div> -->
<h1>Listado de productos</h1>
<table class="table" id="searchTextResults">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Numero correlativo de producto</th>
            <th scope="col">Marca</th>
            <th scope="col">Categoria producto</th>
            <th scope="col">¿Perecedero?</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let product of products">
            <td>{{product.Product_Id}}</td>
            <td>{{product.Product}}</td>
            <td>{{product.Correlative_Product}}</td>
            <td>{{product.Brand}}</td>
            <td>{{product.Category}}</td>
            <td>{{product.Perishable}}</td>
        </tr>
    </tbody>
</table>
