<div class="container">
    <h1 style="text-align: center;">Reporte sobre clientes más frecuentes</h1>
    <br><br>
    <form>
        <div class="form-group row ">
            <label for="" class="col-form-label">Fecha Inicio:</label>
            <div class="col-md-4">
                <input type="date" [(ngModel)]="report2.fechainicio" [ngModelOptions]="{standalone: true}" name="" id="" class="form-control" tabindex="1" />
            </div>
            <label for="" class="col-form-label">Fecha Fin:</label>
            <div class="col-md-4">
                <input type="date" name="" [(ngModel)]="report2.fechafin"  [ngModelOptions]="{standalone: true}" id="" class="form-control" tabindex="1" />
            </div>
            <div class="col-md-2">
                <button type="submit" (click)="saveReport2()" class="btn btn-danger">Consultar</button>
            </div><br><br><br>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" (click)="downloadPDF()">Generar PDF</button>
            </div>
        </div>
    </form>
    <div id="pdfTable" #pdfTable>
        <table class="table" style="table-layout: fixed; word-wrap: break-word;" id="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nombre clliente</th>
                    <th scope="col">DPI</th>
                    <th scope="col">NIT</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Num Ventas</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody *ngFor="let datos of repor2">
                <tr>
                    <td height="10">{{datos.Names}}</td>
                    <td height="10">{{datos.DPI}}</td>
                    <td height="10">{{datos.NIT}}</td>
                    <td height="10">{{datos.Phone_Number}}</td>
                    <td height="10">{{datos.Address}}</td>
                    <td height="10">{{datos.NoVentas}}</td>
                    <td height="10">{{datos.Total | currency:"GTQ":"Q"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>