
<div class="container">
    <h1>Modulo de ingresos</h1>
    <div class="row">
        <div class="col-sm-5 col-md-6">
            <div class="card" style="width: 75rem; right: 5rem">
                <div class="card-body">
                    <div class="form-group row ">
                    
                        <div class="col-md-2">
                            <button type="button" class="btn btn-info" >Generar PDF</button>
                        </div>
                    </div>
                    <div id="pdfTable"  #pdfTable class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-dark" style="table-layout: fixed; word-wrap: break-word;" id="table">
                        <thead>
                            <tr>
                                <th scope="col">Mes</th>
                                <th scope="col">Sucursal Principal</th>
                                <th scope="col">Sucursal auxiliar 1</th>
                                <th scope="col">Sucursal auxiliar 2</th>
                                <th scope="col">Total</th>
                             
                               
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let income of tabla">
                                <td height="10">{{income.mes}}</td>
                                <td height="10"><input type="number" style="background-color: #343B42; color: white;" value='{{income.total_mes}}' #box (keyup.enter)="onModificarCantidad(box.value, income.mes, 1)"min="0" /></td>
                                <td height="10"><input type="number" style="background-color: #343B42; color: white;" value='0' #box1 (keyup.enter)="onModificarCantidad(box1.value, income.mes, 2)"min="0" /></td>
                                <td height="10"><input type="number"  style="background-color: #343B42; color: white;"value='0' #box2 (keyup.enter)="onModificarCantidad(box2.value, income.mes, 3)"min="0" /></td>
                                <td height="10">{{income.total_sumado  | currency:"GTQ":"Q"}}</td>
                            </tr>
                            <tr>
                                <td height="10" >Total</td>
                                <td height="10" >{{total_suc1}}</td>
                                <td height="10" >{{total_suc2}}</td>
                                <td height="10" >{{total_suc3}}</td>
                                <td height="10" >{{total_total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

