<div class="container">
    <h1 style="text-align: center;">Modulo de ingresos</h1>
    <h2 style="text-align: center;">____________________</h2><br><br>

    <div class="form-group row">
        <h5>&nbsp;&nbsp;&nbsp;Empresa: </h5>
        <div class="col-md-10">
            <h5>{{empresa.Company_Name}}</h5>
        </div>
        <h5>&nbsp;&nbsp;&nbsp;Direccion: </h5>
        <div class="col-md-6">
            <h5>{{empresa.Address}}</h5>
        </div>
        <h5 style="text-align: right;">NIT: </h5>
            <h5 style="text-align: right;">{{empresa.NIT}}</h5>
    </div>

    <div class="form-group row " style="text-align: right;">
        <div class="col-md-12">
            <button type="button" (click)="saveincomes()" class="btn btn-danger">Guardar</button>
        </div>
    </div>

    <div id="pdfTable" #pdfTable class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-hover" style="table-layout: fixed; word-wrap: break-word; background-color:#F8F9F9;" id="table">
            <thead class="thead-dark">
                <tr>
                    <th class="header" scope="col">Mes</th>
                    <th class="header" scope="col">Sucursal Principal</th>
                    <th class="header" scope="col">Sucursal auxiliar 1</th>
                    <th class="header" scope="col">Sucursal auxiliar 2</th>
                    <th class="header" scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let income of tabla">
                    <td height="10">{{income.mes_letras}}</td>
                    <td height="10"><input type="number" style="background-color: #343B42; color: white;"
                            value='{{income.total_mes}}' #box
                            (keyup.enter)="onModificarCantidad(box.value, income.mes, 1)" min="0" /></td>
                    <td height="10"><input type="number" style="background-color: #343B42; color: white;"
                            value='{{income.total_aux1}}' #box1
                            (keyup.enter)="onModificarCantidad(box1.value, income.mes, 2)" min="0" /></td>
                    <td height="10"><input type="number" style="background-color: #343B42; color: white;"
                            value='{{income.total_aux2}}' #box2
                            (keyup.enter)="onModificarCantidad(box2.value, income.mes, 3)" min="0" /></td>
                    <td height="10">{{income.total_sumado  | currency:"GTQ":"Q"}}</td>
                </tr>
                <tr>
                    <td height="10">Total</td>
                    <td height="10">{{total_suc1 | currency:"GTQ":"Q"}}</td>
                    <td height="10">{{total_suc2 | currency:"GTQ":"Q"}}</td>
                    <td height="10">{{total_suc3 | currency:"GTQ":"Q"}}</td>
                    <td height="10">{{total_total | currency:"GTQ":"Q"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>