<div class="container">
    <h1 style="text-align: center; font-weight: bold;">Listado Categoría de Producto</h1>
    <h2 style="text-align: center;">____________________</h2><br><br>
    <form>
        <div class="form-group row">
            &nbsp;&nbsp;&nbsp;<i class="fa fa-search" style="left: 300px;"></i>&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control" name="searchTerm6" [(ngModel)]="searchTerm6" placeholder="Buscar categoría de producto" style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success btnsm" routerLink="/product-category-form">Agregar Categoría</a>
        
        </div> 
    </form>
    <br>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-hover" style="background-color:#F8F9F9;">
    <thead class="thead-dark">
        <tr>
            <th class="header" scope="col">ID</th>
            <th class="header" scope="col">Nombre</th>
            <th class="header" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product_category of product_category | filterProductCat:searchTerm6">
            <th>{{product_category.Product_Category_Id}}</th>
                 <td>{{product_category.Name}}</td>
            <td><a class="btn btn-info btn-sm" style="background-color: #6cb3aa;" routerLink="/product-category-form/{{product_category.Product_Category_Id}}">Editar</a> 
                <a class="btn btn-danger btn-sm" (click)="delete(product_category.Product_Category_Id)">Eliminar</a></td>
        </tr>
    </tbody>
</table>
</div>
</div>