<div class="container">
    <h1 style="text-align: center;">Cuentas por Cobrar</h1>
    <h2 style="text-align: center;">____________________</h2><br><br>
    <form>
        
        <div class="form-group row">
            &nbsp;&nbsp;&nbsp;<i class="fa fa-search"></i> &nbsp;&nbsp;&nbsp;
            <div class="col">
                <input type="text" name="" id="" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Buscar NIT o Nombre del cliente"
                    [(ngModel)]="filtrado_clientes" tabindex="1" style="width: 60%;"/>
            </div>
        </div>
        <div class="col">
            <h4 style="color: white;"><strong>Total Cuentas por cobrar </strong></h4>
           <h4 style="color: white;">{{total  | currency:"GTQ":"Q"}}</h4>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover"
                style="table-layout: fixed; word-wrap: break-word; background-color:#F8F9F9 ;" id="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="header" scope="col">Nit</th>
                        <th class="header" scope="col">Nombre Cliente</th>
                        <th class="header" scope="col">Total a cobrar</th>
                        <th class="header" scope="col">Ver facturas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cuenta of accounts_recivable | filtradocustomers:filtrado_clientes">
                        <td height="10">{{cuenta.NIT}}</td>
                        <td height="10">{{cuenta.Names}}</td>
                        <td height="10">{{cuenta.Total | currency:"GTQ":"Q"}}</td>
                        <td height="10">
                            <a class="btn btn-warning btn-sm" ngDefaultControl data-toggle="modal" style="background-color:#F7985B; color: white;"
                                data-target="#detalle_cliente"
                                (click)="mostrar_facturas(cuenta.Customers_Id, cuenta.Names, cuenta.NIT, cuenta.Total)">
                                Ver más
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-text"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                    <path
                                        d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                    <path fill-rule="evenodd"
                                        d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<!--Detalle de facturas-->
<div class="modal fade" id="detalle_cliente" tabindex="" role="" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 60rem;">
        <div class="modal-content" style="width: 60rem; height: 50rem;" >
            <div class="modal-header" style="width: 900px" style="background-color:#EC7063">
                <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;">
                  Facturas Detalladas
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y: auto">
                <div class="container">
                    
                <div class="form-group row col-md-4">
                <strong><h5>Nombre:</h5></strong>
                    <h5>{{nombre_cliente}}</h5>
                </div>

                <div class="form-group row col-md-3">
                <strong><h5>Nit:</h5></strong>
                    <h5>{{Nit}}</h5>
                </div>
                <div class="form-group row col-md-3">
                    <strong><h5>Total:</h5></strong>
                    <h5>{{total_cobrar | currency:"GTQ":"Q"}}</h5>
                </div>
                <div class="form-group row col-md-3">
                    <strong><h5>No Facturas:</h5></strong>
                    <h5>{{contador}}</h5>
                </div>
        </div>
    </div>
            <!--SEGUNDO MODAL  -->
            <div class="modal-body" style="max-height: 60rem; max-width:60rem; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <div class="col">
                                <table class="table" style="table-layout: fixed; word-wrap: break-word;"
                                    id="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">NoFactura</th>
                                            <th scope="col">Serie</th>
                                            <th scope="col">Total al credito </th>
                                            <th scope="col">Fecha venta</th>
                                            <th scope="col">Mas detalles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let factura of facturas">
                                            <td height="10">{{factura.Correlative_Number}}</td>
                                            <td height="10">{{factura.Serie}}</td>
                                            <td height="10">{{factura.Total | currency:"GTQ":"Q"}}</td>
                                            <td height="10">{{factura.Date|date:'d-M-y'}}</td> 

                                            <td height="10">
                                                <a class="btn btn-warning btn-sm" data-toggle="modal"
                                                    data-target="#detalle_factura" style="background-color:#F7985B; color: white;"
                                                    (click)="mostrarDetalle_facturas(factura.Bill_header_Id)">
                                                    Ver detalles
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-journals" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z" />
                                                        <path
                                                            d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group row">

                    <label for="" class="col-form-label"><strong>Monto a cobrar: </strong></label>
                    <div class="col-sm-5">
                        <input type="number" name="" id="" class="form-control" placeholder="Monto de pagar"
                            [(ngModel)]="procedure_accountsReceivable.Quantity" [ngModelOptions]="{standalone: true}" max="{{total_cobrar}}"
                            tabindex="1" />
                    </div>
                    
                    <div class="col-sm-7">
                        <label for="" class="col-form-label"><strong>Seleccione tipo de pago: </strong></label>
                        <select name="Payment_Id" id="" [(ngModel)]="procedure_accountsReceivable.Payment_Id" [ngModelOptions]="{standalone: true}"
                            tabindex="1" class="form-control">
                            <option *ngFor="let tipoPago of tipos_pagos" value="{{tipoPago.Payment_Id}}">
                                {{tipoPago.Method_Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <Textarea type="text" name="" id="" class="form-control" placeholder="Descripcion"
                        [(ngModel)]="procedure_accountsReceivable.Description" ngDefaultControl tabindex="1">

                        </Textarea>
                        
                    </div>
                </div>
                <h1>{{cadena_pago}}</h1>
                <button (click)="saveProcedure()" type="button" class="btn btn-primary">
                    Cobrar
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z" />
                        <path
                            d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                    </svg>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Detalle de cada factura-->
<div class="modal fade" id="detalle_factura" tabindex="" role="" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 60rem;">
        <div class="modal-content" style="width: 60rem;">
            <h1 style="text-align: center; background-color:#EC7063; color: white;"
            class="modal-title">Detalle de la factura</h1>
            
            <div class="modal-header" style="width:60rem;">

                <div class="form-group row col-md-4">
                    <h4>Nombre:</h4>
                    <h4>{{nombre_cliente}}</h4>
                </div>

                <div class="form-group row col-md-4">
                    <h4>Nit:</h4>
                    <h4>{{Nit}}</h4>
                </div>
                <div class="form-group row col-md-4">
                    <h4>Total:</h4>
                    <h4>{{total_cobrar| currency:"GTQ":"Q"}}</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 60rem; max-width:60rem; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <div class="col">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-hover" style="background-color:#F8F9F9;">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="header" scope="col">Nombre Producto</th>
                                            <th class="header" scope="col">Precio Venta</th>
                                            <th class="header" scope="col">Cantidad </th>
                                            <th class="header" scope="col">Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let detalles of datalles_facturas">
                                            <td height="10">{{detalles.Name}}</td>
                                            <td height="10">{{detalles.Price | currency:"GTQ":"Q"}}</td>
                                            <td height="10">{{detalles.Quantity}}</td>
                                            <td height="10">{{detalles.Subtotal | currency:"GTQ":"Q"}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>