<div class="container">

    <div class="container card">
        <div class="card-body" style="height: 555px;">
            <h2 class="alert alert-primary" role="alert" style="text-align: center;">Editar/Crear Inventario</h2>
            <div class="alert alert-warning" role="alert" style="background-color:#699DBF">

    <div>
        <div class="col-md-12">
            <div class="form-group row">
                <label for="product" class="col-md-3 form-controllabel">Producto: </label>
                <!--Product--> &nbsp;&nbsp;&nbsp;&nbsp;
                <div style="width:300px; height:10px; left: 10px" left="300px">
                    <ng-select [searchFn]="searchProduct" id="product" name="product" [items]="product" [virtualScroll]="true" bindLabel="Name" bindValue="Product_Id" placeholder="Producto" [(ngModel)]="selectedProductId">
                        <ng-template ng-header-tmp>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">Marca</div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ng-label-tmp let-item="item">
                            <span>{{item.Complete}}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            {{item.Complete}}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 form-controllabel" for="Stock">Stock:</label>
                <div class="col-md-9">
                    <input [(ngModel)]="inventory.Stock" type="number" id="Stock" class="form-control" placeholder="Ingrese el stock" min="10" max="100">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 form-controllabel" for="Unit_Price">Precio Unitario:</label>
                <div class="col-md-9">
                    <input [(ngModel)]="inventory.Unit_Price" type="number" id="Unit_Price" class="form-control" placeholder="Ingrese el precio unitario" min="10" max="100">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 form-controllabel" for="Retail_Price">Precio Minorista:</label>
                <div class="col-md-9">
                    <input [(ngModel)]="inventory.Retail_Price" type="number" id="Retail_Price" class="form-control" placeholder="Ingrese el precio minorista" min="10" max="100">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 form-controllabel" for="Wholesale_Price">Precio Mayorista:</label>
                <div class="col-md-9">
                    <input [(ngModel)]="inventory.Wholesale_Price" type="number" id="Wholesale_Price" class="form-control" placeholder="Ingrese el precio mayorista" min="10" max="100">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 form-controllabel" for="Status">Estado:</label>
                <div class="col-md-9">
                    <input [(ngModel)]="inventory.Status" type="number" id="Status"
                        class="form-control" placeholder="Ingrese el precio mayorista" min="10" max="100">
                </div>
            </div>
            
            <br>
            <div class="form-group row">
                <div class="col-md-12">
                    <button (click)="saveInventory()" class="btn btn-success btnblock">Guardar</button>
                </div>
            </div>
        </div>
        </div>
        </div>
        <hr>
        </div>
    </div>

