<div class="container">
    <h1 style="text-align: center; font-weight: bold;">Listado de Tipo de Facturas</h1>
    <h2 style="text-align: center;">____________________</h2><br><br>
    <form>
        <div class="form-group row">
            &nbsp;&nbsp;&nbsp;<i class="fa fa-search fa-lg" style="left: 300px;"></i>&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control" name="searchTermBillType" [(ngModel)]="searchTermBillType"
                placeholder="Buscar tipo de factura" style="width: 300px;">&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success btnsm" routerLink="/billtype-form">Agregar Tipo de Factura</a>
        </div>
    </form>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-hover table-fixed" id="searchTextResults" style="background-color:#F8F9F9;">
            <thead class="thead-dark">
                <tr>
                    <th class="header" scope="col">#</th>
                    <th class="header" scope="col">Tipo de Factura</th>
                    <th class="header" scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let billtype of billtype | filterBillType:searchTermBillType">
                    <td>{{billtype.Bill_Type_Id}}</td>
                    <td>{{billtype.Name}}</td>
                    <td><a class="btn btn-warning btn-sm" style="background-color:#F7985B;"
                            routerLink="/billtype-form/{{billtype.Bill_Type_Id}}">
                            <i class="fa fa-pencil-square-o fa-lg" style="color: white;"></i></a>&nbsp;
                        <a class="btn btn-danger btn-sm" style="background-color:#e74c3c;"
                            (click)="delete(billtype.Bill_Type_Id)" onClick="EliminarFila(this)"><i class="fa fa-trash fa-lg"
                                style="color: white;"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

