<div class="container">
    <h1 style="text-align: center;">Balance general clasificado</h1>

<h2 style="text-align: center;">____________________</h2><br><br>
    <div class="form-group row">
        <h5>&nbsp;&nbsp;&nbsp;Empresa: &nbsp;</h5>
        <div class="col-md-10">
            <h5>{{empresa.Company_Name}}</h5>
        </div>
        <h5>&nbsp;&nbsp;&nbsp;Direccion: &nbsp;</h5>
        <div class="col-md-8">
            <h5>{{empresa.Address}}</h5>
        </div>
        <h5 style="text-align: right;">NIT: &nbsp;</h5>
            <h5 style="text-align: right;">{{empresa.NIT}}</h5>
    </div>

    <form>
        <div class="form-group row ">
           
            <label for="" class="col-form-label">Fecha Fin:</label>
            <div class="col-md-4">
                <input type="date" name="" [(ngModel)]="balance.fechafin"  [ngModelOptions]="{standalone: true}" id="" class="form-control" tabindex="1" />
            </div>
            <div class="col-md-2">
                <button type="submit" (click)="guardar()" class="btn btn-danger">Consultar</button>
            </div><br><br><br>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" (click)="almacenar()" >Guardar</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" (click)="downloadPDF()" >Generar PDF</button>
            </div>
        </div>
    </form>
    
    <div id="pdfTable" #pdfTable style="margin: 0 auto; border-collapse: collapse;">  
        <table class="styled-table" *ngFor="let cuenta of cuentas" style="table-layout: fixed; word-wrap: break-word;" id="table">
            <thead>
                <tr>
                    <th scope="col">{{cuenta[0][0].Nombre}}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                 
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">{{cuenta[1][cuenta[1].length -1 ][0].Nombre}}</th>
                    <th scope="col">{{sum1 | currency:"GTQ":"Q"}}</th>
                    <th scope="col"></th>
                 
                </tr>
            </thead>
            <tbody *ngFor = "let detalle of cuenta[1]" >
             
                <tr>
                    <td height="10">{{detalle.Name}}</td>
                    <td height="10">{{detalle.Monto | currency:"GTQ":"Q"}}</td>
                    <td> <input  *ngIf="detalle.Monto >= 0"  type="number" #enterrr
                        (keyup.enter)="registrar(enterrr.value,detalle.Balance_Id, detalle.Name, detalle.Type)" ngDefaultControl
                        name="monto" id="monto" class="form-control" placeholder=" " value=0
                        tabindex="1" /></td>
                  
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">{{cuenta[2][cuenta[2].length -1 ][0].Nombre}}</th>
                    <th scope="col">{{sum2 | currency:"GTQ":"Q"}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngFor = "let detalle of cuenta[2]" >
               
                <tr>
                    <td height="10">{{detalle.Name}}</td>
                    <td height="10">{{detalle.Monto | currency:"GTQ":"Q"}}</td>
                    <td> <input  *ngIf="detalle.Monto >= 0" type="number" #enterrr
                        (keyup.enter)="registrar(enterrr.value,detalle.Balance_Id, detalle.Name, detalle.Type)" ngDefaultControl
                        name="monto" id="monto" class="form-control" placeholder=" " value=0
                        tabindex="1" /></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Suma Total Activo</th>
                    <th scope="col">{{sum1 + sum2 | currency:"GTQ":"Q"}} <hr style="border-color: white;">
                        <hr style="border-color: white;">
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">{{cuenta[3][0].Nombre}}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">{{cuenta[4][cuenta[4].length -1 ][0].Nombre}}</th>
                    <th scope="col">{{sum3 | currency:"GTQ":"Q"}}</th>
                    <th scope="col"></th>
                 
                </tr>
            </thead>
            <tbody *ngFor = "let detalle of cuenta[4]" >
                <tr>
                    <td height="10">{{detalle.Name}}</td>
                    <td height="10">{{detalle.Monto | currency:"GTQ":"Q"}}</td>
                    <td> <input  *ngIf="detalle.Monto >= 0" type="number" #enterrr
                        (keyup.enter)="registrar(enterrr.value,detalle.Balance_Id, detalle.Name, detalle.Type)" ngDefaultControl
                        name="monto" id="monto" class="form-control" placeholder=" " value=0
                        tabindex="1" /></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">{{cuenta[5][cuenta[5].length -1 ][0].Nombre}}</th>
                    <th scope="col">{{sum4 | currency:"GTQ":"Q"}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
          
            <tbody *ngFor = "let detalle of cuenta[5]" >
               
                <tr>
                    <td height="10">{{detalle.Name}}</td>
                    <td height="10">{{detalle.Monto | currency:"GTQ":"Q"}}</td>
                    <td> <input  *ngIf="detalle.Monto >= 0" type="number" #enterrr
                        (keyup.enter)="registrar(enterrr.value,detalle.Balance_Id, detalle.Name, detalle.Type)" ngDefaultControl
                        name="monto" id="monto" class="form-control" placeholder=" " value=0
                        tabindex="1" /></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Suma Total Pasivo</th>
                    <th scope="col">{{sum3 + sum4 | currency:"GTQ":"Q"}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <thead *ngFor = "let detalle of cuenta[6]">
                <tr>
                    <th scope="col">{{detalle.Name}}</th>
                    <th scope="col">{{detalle.Monto | currency:"GTQ":"Q"}}</th>
                    <td> <input  *ngIf="detalle.Monto >= 0" type="number" #enterrr
                        (keyup.enter)="registrar(enterrr.value,detalle.Balance_Id, detalle.Name, detalle.Type)" ngDefaultControl
                        name="monto" id="monto" class="form-control" placeholder=" " value=0
                        tabindex="1" /></td>
                 
                </tr>
            </thead>
            <thead *ngFor = "let detalle of cuenta[7]">
                <tr>
                    <th scope="col">{{detalle.Name}}</th>
                    <th scope="col">{{detalle.Monto | currency:"GTQ":"Q"}}</th>
                    <td> <input *ngIf="detalle.Monto >= 0" type="number" #enterrr
                        (keyup.enter)="registrar(enterrr.value,detalle.Balance_Id, detalle.Name, detalle.Type)" ngDefaultControl
                        name="monto" id="monto" class="form-control" placeholder=" " value=0
                        tabindex="1" /></td>
                 
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">Suma igual al activo</th>
                    <th scope="col">{{sum3 + sum4 + sum5 + sum6 | currency:"GTQ":"Q"}}<hr style="border-color: white;"><hr style="border-color: white;"> </th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>