<div style="height: 50px;"></div>
<h2 style="text-align: center; color: white; font-weight: bold;">Sistema de Compras</h2>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-5 col-md-6">
      <div class="card" style="width: 31rem; right: 5rem">
        <div class="card-body">
          <h5 class="card-title"><b>DATOS COMPRA</b></h5>
          <div class="container">
            <hr />
            <div class="row">
              <div class="col-md-7">
                <div class="form-group row">
                  <label for="Correlative_Number" class="col-form-label">No Factura:</label>
                  <div class="col-sm-8">
                    <input [(ngModel)]="header.Correlative_Number" type="text" id="Correlative_Number"
                      class="form-control" placeholder="No.Correlativo" tabindex="1" required="" />
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group row">
                  <label for="Serie" class="col-form-label">Serie:</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="header.Serie" type="text" id="Serie" class="form-control" placeholder="Serie"
                      tabindex="2" required=""/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label for="Date_Purchase" class="col-form-label">Fecha de realizacion:</label>
                  <div class="col">
                    <input [(ngModel)]="header.Date_Purchase" type="date" id="Date_Purchase" class="form-control"
                      placeholder="Fecha de compra" tabindex="3" required=""/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label for="Providers_Id" class="col-form-label">Proveedor:</label>
                  <div class="col">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                      data-target=".bd-example-modal-lg">
                      Buscar Proveedor
                    </button>
                    <br />
                    <div *ngFor="let select of proveedor_seleccionado">
                      <label for="Providers_Id" class="col-form-label">ID: {{ select.Providers_Id }}</label>
                      <br />
                      <label for="proveedores" class="col-form-label">Nombre Fiscal :{{ select.Fiscal_Name }}
                      </label>
                      <br />
                      <label for="proveedores" class="col-form-label">NIT: {{ select.NIT }}</label>
                      <br />
                      <label for="proveedores" class="col-form-label">Dirección: {{ select.Address }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label for="Observations" class="col-form-label">Observaciónes:</label>
                  <div class="col">
                    <textarea [(ngModel)]="header.Observations" class="form-control" id="Observations" rows="2"
                      placeholder="Escribas las observaciónes de la compra" tabindex="7" maxlength="60"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label for="Total" class="col-form-label" style="font-size: 30px; color:#e74c3c;">Total:</label>
                  <div class="col">
                    <label [(ngModel)]="header.Total" style="font-size: 30px; color:#e74c3c;" id="Total"
                      class="form-control" value="0" tabindex="8" ngDefaultControl>{{ total | currency:"GTQ":"Q" }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <div class="card" style="width: 49rem; right: 8rem">
        <div class="card-body">
          <h5 class="card-title"><b>Busqueda de producto</b></h5>
          <hr />
          <div class="form-group">
            <div class="col">
              <label for="product" class="col-form-label">Producto:</label>
              &nbsp;
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-producto-modal-lg">
                Buscar Producto
              </button>
            </div>
            <hr />
            <h5 class="card-title"><b>Detalle de la compra</b></h5>
            <table class="table" style="table-layout: fixed; word-wrap: break-word" id="table">
              <thead class="thead-dark">
                <tr>
                  <th class="header" scope="col">ID Producto</th>
                  <th class="header" scope="col">No. Correlativo</th>
                  <th class="header" scope="col">Producto</th>
                  <th class="header" scope="col">No. Lote</th>
                  <th class="header" scope="col">Cantidad</th>
                  <th class="header" scope="col">Precio</th>
                  <th class="header" scope="col">Subtotal</th>
                  <th class="header" scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inventario of vista_detail; let i = index">
                  <td>{{ inventario[0].Product_Id }}</td>
                  <td>{{ inventario[0].Correlative_Product }}</td>
                  <th>{{ inventario[0].Complete }}</th>
                  <th>{{ inventario[0].Lot_Id }}</th>
                  <td>
                    <input type="number" class="form-control" [(ngModel)]="cantidad[i]" />
                  </td>
                  <td>
                    <input type="number" class="form-control" [(ngModel)]="precio[i]" #box (keyup.enter)="
                        onEnter(cantidad[i], precio[i], inventario)
                      " />
                  </td>
                  <td>{{ inventario[0].Subtotal | currency:"GTQ":"Q"}}</td>
                  <td *ngIf="inventario[0].Perishable==0;">
                    <button class="btn btn-danger" type="button" (click)="EliminarDetalle(i, inventario)"
                      onClick="EliminarFila(this)" style="background-color:#e74c3c;">
                      <i class="fa fa-trash" style="color: white;"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button
              type="button"
              class="btn btn-success"
              data-toggle="modal"
              data-target=".bd-cobro-modal-lg"
            >
              Continuar compra
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 100px;"></div>
<!--MODALS PROVEEDORES-->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px">
    <div class="modal-content" style="width: 900px">
      <div class="modal-header" style="width: 900px" style="background-color:#EC7063">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Encuentre su proveedor
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y: auto">
        <div class="container">
          <div class="form-group row">
            <label for="proveedores" class="col-form-label">Proveedor:</label>
            <div class="col">
              <input type="text" name="proveedores" id="proveedores" class="form-control" placeholder="Buscar proveedor"
                [(ngModel)]="filtrado_proveedor" tabindex="4" />
              <br>
              <button type="button" class="btn btn-danger" data-toggle="modal" style="background-color:#EC7063;"
                data-target=".bd-agregarproveedor-modal-lg">
                + Agregar Proveedor
              </button>
            </div>
          </div>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-hover" style="table-layout: fixed; word-wrap: break-word; background-color:#F8F9F9;"
            id="table">
            <thead class="thead-dark">
              <tr>
                <th class="header" scope="col">#</th>
                <th class="header" scope="col">NIT</th>
                <th class="header" scope="col">Nombre Fiscal</th>
                <th class="header" scope="col">Número de teléfono</th>
                <th class="header" scope="col">Otro número de teléfono</th>
                <th class="header" scope="col">Correo electrónico</th>
                <th class="header" scope="col">Dirección</th>
                <th class="header" scope="col">Seleccionar</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let provider of providers
                    | filtradoprovider: filtrado_proveedor
                ">
                <td height="10">{{ provider.Providers_Id }}</td>
                <td height="10">{{ provider.NIT }}</td>
                <td height="10">{{ provider.Fiscal_Name }}</td>
                <td height="10">{{ provider.Phone_Number1 }}</td>
                <td>{{ provider.Phone_Number2 }}</td>
                <td>{{ provider.Email }}</td>
                <td>{{ provider.Address }}</td>
                <td>
                  <a class="btn btn-warning btn-sm" style="background-color:#F7985B;" 
                  (click)="getProviderId(provider.Providers_Id)" data-dismiss="modal">
                  <i class="fa fa-check" style="color: white;"></i></a>
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <!--<pagination-controls (pageChange)="paginaActual = $event" previousLabel="Anterior"
      nextLabel="Siguiente" maxSize="9" autoHide="true"></pagination-controls>-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!--MODALS PRODUCTOS-->
<div class="modal fade bd-producto-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px">
    <div class="modal-content" style="width: 900px">
      <div class="modal-header" style="width: 900px" style="background-color:#EC7063">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Encuentre su producto
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y: auto">
        <div class="container">
          <div class="form-group row">
            <label for="proveedores" class="col-form-label">Producto:</label>
            <div class="col">
              <input type="text" name="product" id="product" class="form-control" placeholder="Buscar producto"
                [(ngModel)]="filtrado_product" tabindex="9" />
              <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target=".bd-agregarproducto-modal-lg">
                + Agregar Producto
              </button>
              &nbsp;
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-lote-modal-lg">
                + Añadir lote nuevo
              </button>
            </div>
          </div>
          <div>
            <h3 class="modal-title">Productos no perecederos</h3>
          </div>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            
          <table class="table table-hover" style="table-layout: fixed; word-wrap: break-word; background-color:#F8F9F9;"
            id="table">
            <thead class="thead-dark">
              <tr>
                <th class="header" scope="col">No. Correlativo</th>
                <th class="header" scope="col">Producto-Marca-Categoría</th>
                <th class="header" scope="col">No. Lote</th>
                <th class="header" scope="col">Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let inv of inventory | filtradoinventory: filtrado_product
                ">
                <td height="10">{{ inv.Correlative_Product }}</td>
                <td height="10">{{ inv.ProductComplete }}</td>
                <td height="10">{{ inv.Lot_Id }}</td>
                <td>
                  <a class="btn btn-warning btn-sm" style="background-color:#F7985B;"
                    (click)="getProductId(inv.Product_Id)" data-dismiss="modal">
                    <i class="fa fa-check" style="color: white;"></i></a>
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <!-- <pagination-controls (pageChange)="paginaActualp = $event" previousLabel="Anterior"
      nextLabel="Siguiente" maxSize="9" autoHide="true"></pagination-controls>-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!--MODAL AGREGAR PROVEEDORES-->
<div class="modal fade bd-agregarproveedor-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px">
    <div class="modal-content" style="width: 900px">
      <div class="modal-header" style="width: 900px; background-color: #4a5c8b;">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Encuentre su proveedor
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y: auto">
        <app-providers-form (Provider_Id)="getProviderId($event)"></app-providers-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!--MODAL AGREGAR PRODUCTO-->
<div class="modal fade bd-agregarproducto-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px">
    <div class="modal-content" style="width: 900px">
      <div class="modal-header" style="width: 900px; background-color: #4a5c8b;">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Agregue de forma rapido su producto
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y: auto">
        <app-product-form (Product_Id)="getProductId($event)"></app-product-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!--MODAL AGREGAR PRODUCTO-->
<div class="modal fade bd-lote-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px">
    <div class="modal-content" style="width: 900px">
      <div class="modal-header" style="width: 900px; background-color:#4a5c8b;">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Agregue de forma rapido su lote
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y: auto">
        <app-lot-form (Lot_Id)="getLotId($event)"></app-lot-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- MODO DE PAGO DE COMPRAS-->
<div class="modal fade bd-cobro-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content modal-dialog" style="width: px">
      <div class="modal-header d-flex justify-content-center" style="background-color:#EC7063">
        <h5 class="heading">Registre el tipo de pago de esta compra</h5>
        <button type="button" class="close" (click)="cerrarpago()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y: auto">
        <div class="container">
          <h3 style="text-align: center"><b>Tipo de pago</b></h3>
<hr />
<h3 style="color:#e74c3c; text-align: center">Al contado</h3>
<br />
<div class="row">
  <div class="col-md-5">
    <div class="form-group row">
      <label for="correlativo" class="col-form-label">Abono:</label>
      <div class="col-md-8">
        <input type="number" min="0" #boxalcontado (keyup.enter)="onPagoalcontado(boxalcontado.value)"
          ngDefaultControl name="monto" id="monto" class="form-control" placeholder=" " tabindex="1" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group row">
      <label for="Description" class="col-form-label">Descripcion:</label>
      <div class="col-md-12">
        <textarea rows="2" [(ngModel)]="payment.Description" id="Description" class="form-control"
          placeholder="" tabindex="2"></textarea>
      </div>
    </div>
  </div>
</div>

          <hr />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label
                  style="font-size: 20px; color:#e74c3c;"
                  class="col-form-label"
                  >Monto total a pagar:</label
                >

                <div class="col-sm-4">
                  <label style="font-size: 20px; color:#e74c3c;" class="col-form-label">
                    {{ total_cobro | currency:"GTQ":"Q" }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="savePost()"
                  data-dismiss="modal"
                >
                  Registrar Compra
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarpago()" >
          Cerrar
        </button>
    </div>
  </div>
</div>


