@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.header{
    position:sticky;
    top: 0 ;
}

#alcontado {
    display: none;
}

#alcredito {
    display: none;
}
label.col-form-label {
    color: black;
  }
h5.card-title {
    color: black;
}
h1{
    color: black;
}
h1.title{
    color: white;
}
h3{
    color: black;
}

h2{
    font-family: 'Montserrat', sans-serif;
}