<h2 style="text-align: center; color: white; font-weight: bold;">Sistema de Ventas</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-6">
            <div class="card" style="width: 31rem; right: 5rem">
                <div class="card-body">
                    <h5 class="card-title">Facturacion</h5>
                    <div class="container">
                        <hr />
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group row">
                                    <label for="correlativo" class="col-form-label">No de Factura:</label>
                                    <div class="col-sm-7" *ngFor="let nofactura of nofacturas">

                                        <h3 [(ngModel)]="encabezado_factura.Correlative_Number" ngDefaultControl>{{nofactura.NoFactura}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="serie" class="col-form-label">Serie:</label>
                                    <div class="col-sm-9">
                                        <input type="text" [(ngModel)]="encabezado_factura.Serie" ngDefaultControl name="serie" id="serie" class="form-control" placeholder="Serie" tabindex="2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="date" class="col-form-label">Fecha de realizacion:</label>
                                    <div class="col">
                                        <input type="text" value="{{fecha}}" readonly="true" name="creation_date" [(ngModel)]="encabezado_factura.Date" ngDefaultControl id="creation_date" class="form-control" placeholder="{{fecha}}" tabindex="3" />
                                        <h3>{{fecha}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="Empleado" class="col-form-label">Empleado</label>
                                    <div class="col">
                                        <select name="empleado" id="empleado" [(ngModel)]="encabezado_factura.Employee_Id" ngDefaultControl tabindex="8" class="form-control">
                      <option *ngFor="let empleado of empleados" value="{{empleado.Employee_Id}}">
                        {{empleado.Names + " " +empleado.Last_names}}
                      </option>
                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!--
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="correlativo" class="col-form-label">Nota de credito:</label>
                                    <div class="col-sm-6">
                                        <input type="checkbox" [(ngModel)]="encabezado_factura.Refund" ngDefaultControl name="correlativo" id="correlativo" class="form-control" placeholder="No" tabindex="5" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="serie" class="col-form-label">Anular factura:</label>
                                    <div class="col-sm-6">
                                        <input type="checkbox" [(ngModel)]="encabezado_factura.Annulment_State" ngDefaultControl name="serie" id="serie" class="form-control" placeholder="Serie" tabindex="6" />
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <div class="row">
                            <h3>Datos cliente</h3>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="clientes" class="col-form-label">Clientes:</label>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
                      Buscar Clientes
                    </button>
                                        <br />
                                        <div *ngFor="let cliente of clientes">
                                            <label for="clientes" class="col-form-label">DPI :{{cliente.DPI}} </label>
                                            <br />
                                            <label for="clientes" class="col-form-label">Nombre: {{cliente.Names}}</label>
                                            <br />
                                            <label for="clientes" class="col-form-label">Apellido: {{cliente.Last_names}}</label>
                                            <br />
                                            <label for="clientes" class="col-form-label">NIT: {{cliente.NIT}}</label>

                                            <!-- <input type="text" name="clientes" id="clientes" class="form-control"
                        value="{{cliente.Customers_Id}}" [(ngModel)]="encabezado_factura.Customers_Id" ngDefaultControl
                        tabindex="4" /> -->
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="modal-footer">

                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <h1>Total:</h1>
                                        <div class="col">
                                            <h1 [(ngModel)]="encabezado_factura.Total" ngDefaultControl>Q{{total}}</h1>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-cobro-modal-lg" data-dismiss="modal">Cobrar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
            <div class="card" style="width: 40rem; right: 5rem">
                <div class="card-body">
                    <h5 class="card-title">DETALLE DE LA FACTURA</h5>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <h5 class="card-title">Datos productos</h5>
                                    <button type="button" style="margin-bottom: 5rem; margin-left: 0.5rem;" class="btn btn-primary" data-toggle="modal" data-target=".bd-producto-modal-lg">Buscar productos</button>
                                    <br />
                                    <table class="table table-dark" id="table">
                                        <thead>
                                            <tr>
                                                <!--th scope="col">#</th>-->
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Precio</th>
                                                <th scope="col">Subtotal</th>
                                                <th scope="col">Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let inventario of nuevo">
                                                <td for="">{{inventario[0].ProductComplete}}</td>
                                                <td for=""><input type="number" #box (keyup.enter)="onEnter(box.value, inventario[0].Unit_Price, inventario)" min="0" max="{{inventario[0].Stock}}" value="" /></td>
                                                <td for="">Q. {{inventario[0].Unit_Price}}</td>
                                                <td>Q. {{inventario[0].Subtotal}}</td>
                                                <td><button (click)="onDelete(inventario)" class="btn btn-danger">x</button></td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="msgid1">
</div>
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header" style="width: 900px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Buscar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <label for="clientes" class="col-form-label">Clientes:</label>
                        <div class="col">
                            <input type="text" name="clientes" id="clientes" class="form-control" placeholder="Buscar cliente por nombre o NIT" [(ngModel)]="filtrado_clientes" tabindex="4" />
                        </div>
                    </div>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0" style="table-layout: fixed; word-wrap: break-word;" id="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">DPI</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">NIT</th>
                                    <th scope="col">Direccion</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cliente of cliente | filtradocustomers:filtrado_clientes">
                                    <td height="10">{{cliente.Customers_Id}}</td>
                                    <td height="10">{{cliente.DPI}}</td>
                                    <td height="10">{{cliente.Names}}</td>
                                    <td height="10">{{cliente.Last_names}}</td>
                                    <td height="10">{{cliente.Phone_Number}}</td>
                                    <td height="10">{{cliente.NIT}}</td>
                                    <td height="10">{{cliente.Address}}</td>
                                    <td><a class="btn btn-primary btn-sm" data-dismiss="modal" (click)="getCustomerId(cliente.Customers_Id)">Seleccionar</a> &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-cliente-modal-lg" data-dismiss="modal">Agregar Cliente</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Buscador de producto para agregar al detalle de la factura-->
<div class="modal fade bd-producto-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header" style="width: 900px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Buscar producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <label for="clientes" class="col-form-label">Productos:</label>
                        <div class="col">
                            <input type="text" name="productos" id="productos" class="form-control" placeholder="Ingrese id de producto" [(ngModel)]="filtrado_productos" tabindex="4" />
                        </div>
                    </div>
                    <table class="table table-dark" style="table-layout: fixed; word-wrap: break-word;" id="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Correlativo producto</th>
                                <th scope="col">Nombre producto</th>
                                <th scope="col">Precio Unitario</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inventario of nuevo_inventario | fitradoproduct:filtrado_productos">
                                <td height="10">{{inventario.Inventory_Id}}</td>
                                <td height="10">{{inventario.Correlative_Product}}</td>
                                <td height="10">{{inventario.Product}}</td>
                                <td height="10">{{inventario.Unit_Price}}</td>
                                <th height="10">{{inventario.Stock}}</th>
                                <td height="10">{{inventario.Statuss}}</td>
                                <td><a class="btn btn-primary btn-sm" (click)="getInventoryId(inventario.Inventory_Id, inventario.Unit_Price, inventario.Stock)" data-dismiss="modal">Seleccionar</a> &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--Modal de agregar cliente nuevo -->
<div class="modal fade bd-cliente-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header" style="width: 900px;">
                <h5 class="modal-title" id="exampleModalLongTitle">Cliente Nuevo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <div class="col">
                            <app-customers-form (Customers_Id)="getCustomerId($event)"></app-customers-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal de cobrar-->
<div class="modal fade bd-cobro-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-dialog  " style="width: px;">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="heading">Cobro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">



                    <h3 style="text-align: center;">Tipo de pago</h3>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <input type="checkbox" ngDefaultControl (click)="mostraralcredito()" class="form-control" tabindex="1" />
                                </div>
                                <label for="correlativo" class="col-form-label">Al credito:</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <input type="checkbox" (click)="mostraraldebito()" ngDefaultControl class="form-control" tabindex="1" />
                                </div>
                                <label for="serie" class="col-form-label" style="color: black;">Al contado</label>

                            </div>
                        </div>
                    </div>
                    <hr />
                    <h3 style="text-align: center;">Monto</h3>
                    <div *ngIf="pago_aldebito">
                        <p>Al contado</p>
                        <div class="row">

                            <div class="col-md-5">
                                <div class="form-group row">

                                    <label for="correlativo" class="col-form-label">Monto:</label>
                                    <div class="col-md-6">
                                        <input type="number" min="0" #boxalcontado (keyup.enter)="onPagoalcontado(boxalcontado.value)" ngDefaultControl name="monto" id="monto" class="form-control" placeholder=" " tabindex="1" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <label for="serie" class="col-form-label">Descripcion:</label>
                                    <div class="col-sm-7">
                                        <textarea ngDefaultControl name="descripcion" [ngModel]="descripcion_pagoalcontado" id="descripcion" class="form-control" placeholder="" tabindex="1"></textarea>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div *ngIf="pago_alcredito">
                        <p>Al credito</p>
                        <div class="row">

                            <div class="col-md-5">
                                <div class="form-group row">

                                    <label for="" class="col-form-label">Monto:</label>
                                    <div class="col-md-6">
                                        <input type="number" min="0" max="total_cobro" #boxalcredito (keyup.enter)="onPagoalcredito(boxalcredito.value)" ngDefaultControl name="monto" id="monto" class="form-control" placeholder="" tabindex="1" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <label for="" class="col-form-label">Descripcion:</label>
                                    <div class="col-sm-7">
                                        <textarea ngDefaultControl name="descripcion" [ngModel]="descripcion_pagoalcredito" id="descripcion" class="form-control" placeholder="" tabindex="1"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="" class="col-form-label">{{cadena_pago}}</label>
                                <div class="col-sm-4">
                                    <label for="" class="col-form-label">{{total_cobro}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <button type="button" (click)="enviar()" class="btn btn-primary ">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>