<div style="height: 50px;"></div>
<h2 style="text-align: center; color: white; font-weight: bold;">Sistema de Ventas</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-6">
            <div class="card" style="width: 31rem; right: 5rem">
                <div class="card-body">
                    <h5 class="card-title"><b>FACTURACIÓN</b></h5>
                    <div class="container">
                        <hr />
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group row">
                                    <label for="correlativo" class="col-form-label">No de Factura:</label>
                                    <div class="col-sm-7" >
 
                                        <h4 >{{cantidadfac}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label for="serie" class="col-form-label">Serie:</label>
                                    <div class="col-sm-9">
                                        <label for="serie" class="col-form-label">{{nombre_serie}}</label>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="date" class="col-form-label">Fecha de realizacion:</label>
                                    <div class="col">
                                        <input type="text" value="{{fecha}}" readonly="true" name="creation_date"
                                            [(ngModel)]="encabezado_factura.Date" ngDefaultControl id="creation_date"
                                            class="form-control" placeholder="{{fecha}}" tabindex="3" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
            
                                   
                                       <!-- <select name="empleado" id="empleado"
                                            [(ngModel)]="encabezado_factura.Employee_Id" ngDefaultControl tabindex="8"
                                            class="form-control">
                                            <option *ngFor="let empleado of empleados" value="{{empleado.Employee_Id}}">
                                                {{empleado.Names+" "+empleado.Last_names}}
                                            </option>
                                        </select>-->
                                        <label for="" class="col-form-label">Empleado</label>
                                    <div class="col">
                                            <label for="" class="col-form-label">{{nombre_empleado}}</label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <hr />


                        <div class="row">
                            <h5 class="card-title"><b>Datos Cliente</b></h5>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="clientes" class="col-form-label">Clientes:</label>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            Buscar Clientes
                                        </button>
                                        <br />
                                        <div *ngFor="let cliente of clientes">
                                            <label for="clientes" class="col-form-label">DPI :{{cliente.DPI}} </label>
                                            <br />
                                            <label for="clientes" class="col-form-label">Nombre:
                                                {{cliente.Names}}</label>
                                            <br />
                                            <label for="clientes" class="col-form-label">Apellido:
                                                {{cliente.Last_names}}</label>
                                            <br />
                                            <label for="clientes" class="col-form-label">NIT: {{cliente.NIT}}</label>

                                            <!-- <input type="text" name="clientes" id="clientes" class="form-control"
                        value="{{cliente.Customers_Id}}" [(ngModel)]="encabezado_factura.Customers_Id" ngDefaultControl
                        tabindex="4" /> -->
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="modal-footer">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <h3 style="color:#e74c3c;">Total:</h3>
                                        <div class="col">
                                            <h3 [(ngModel)]="encabezado_factura.Total" ngDefaultControl
                                                style="color:#e74c3c;">{{total | currency:"GTQ":"Q"}}</h3>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" data-toggle="modal" 
                                    style="text-align: center; position: absolute; top: 75%; left: 100%;"
                                        data-target=".bd-cobro-modal-lg" data-dismiss="modal">Cobrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
            <div class="card" style="width: 40rem; right: 5rem">
                <div class="card-body">
                    <h5 class="card-title"><b>Detalle De La Factura</b></h5>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <h5 class="card-title">Datos productos</h5>
                                    <button type="button" style="margin-bottom: 5rem; margin-left: 0.5rem;"
                                        class="btn btn-primary" data-toggle="modal"
                                        data-target=".bd-producto-modal-lg">Buscar productos</button>
                                    <br />
                              <!--      <div class="table-wrapper-scroll-y my-custom-scrollbar"> -->
                                        <table class="table table-hover"
                                            style="table-layout: fixed; word-wrap: break-word; background-color:#F8F9F9 ;"
                                            id="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <!--th scope="col">#</th>-->
                                                    <th class="header" scope="col">Nombre</th>
                                                    <th class="header" scope="col">Cantidad</th>
                                                    <th class="header" scope="col">Precio</th>
                                                    <th class="header" scope="col">Subtotal</th>
                                                    <th class="header" scope="col">Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let inventario of nuevo">
                                                    <td for="">{{inventario[0].ProductComplete}}</td>
                                                    <td for=""><input type="number" #box
                                                            (keyup.enter)="onEnter(box.value, inventario[0].Unit_Price, inventario)"
                                                            min="0" max="{{inventario[0].Stock}}" value="" /></td>
                                                    <td for="">{{inventario[0].Unit_Price | currency:"GTQ":"Q"}}</td>
                                                    <td>{{inventario[0].Subtotal | currency:"GTQ":"Q"}}</td>
                                                    <td><button (click)="onDelete(inventario)"
                                                            class="btn btn-danger"><i class="fa fa-trash" style="color: white;">
                                                            </i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="msgid1">
</div>
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header" style="width: 900px;" style="background-color:#EC7063">
                <h5 class="modal-title" id="exampleModalLongTitle">Buscar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <label for="clientes" class="col-form-label">Clientes:</label>
                        <div class="col">
                            <input type="text" name="clientes" id="clientes" class="form-control"
                                placeholder="Buscar cliente por nombre o NIT" [(ngModel)]="filtrado_clientes"
                                tabindex="4" />
                        </div>
                    </div>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-hover"
                            style="table-layout: fixed; word-wrap: break-word; background-color:#F8F9F9 ;" id="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="header" scope="col">#</th>
                                    <th class="header" scope="col">DPI</th>
                                    <th class="header" scope="col">Nombres</th>
                                    <th class="header" scope="col">Apellidos</th>
                                    <th class="header" scope="col">Telefono</th>
                                    <th class="header" scope="col">NIT</th>
                                    <th class="header" scope="col">Direccion</th>
                                    <th class="header" scope="col">Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cliente of cliente | filtradocustomers:filtrado_clientes">
                                    <td height="10">{{cliente.Customers_Id}}</td>
                                    <td height="10">{{cliente.DPI}}</td>
                                    <td height="10">{{cliente.Names}}</td>
                                    <td height="10">{{cliente.Last_names}}</td>
                                    <td height="10">{{cliente.Phone_Number}}</td>
                                    <td height="10">{{cliente.NIT}}</td>
                                    <td height="10">{{cliente.Address}}</td>
                                    <td><a class="btn btn-warning btn-sm"
                                            style="background-color:#F7985B;" data-dismiss="modal"
                                            (click)="getCustomerId(cliente.Customers_Id)">
                                            <i class="fa fa-check" style="color: white;"></i></a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"data-toggle="modal"
                        data-target=".bd-cliente-modal-lg" style="background-color:#F7985B; color: white;">Agregar Cliente</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Buscador de producto para agregar al detalle de la factura-->
<div class="modal fade bd-producto-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header" style="width: 900px; background-color:#EC7063;">
                <h5 class="modal-title" id="exampleModalLongTitle">Buscar producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <label for="clientes" class="col-form-label">Productos:</label>
                        <div class="col">
                            <input type="text" name="productos" id="productos" class="form-control"
                                placeholder="Ingrese id de producto" [(ngModel)]="filtrado_productos" tabindex="4" />
                        </div>
                    </div>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-hover" style="table-layout: fixed; word-wrap: break-word;" id="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="header" scope="col">#</th>
                                <th class="header" scope="col">Correlativo producto</th>
                                <th class="header" scope="col">Nombre producto</th>
                                <th class="header" scope="col">Precio Unitario</th>
                                <th class="header" scope="col">Stock</th>
                                <th class="header" scope="col">Estado</th>
                                <th class="header" scope="col">Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inventario of nuevo_inventario | fitradoproduct:filtrado_productos">
                                <td height="10">{{inventario.Inventory_Id}}</td>
                                <td height="10">{{inventario.Correlative_Product}}</td>
                                <td height="10">{{inventario.Product}}</td>
                                <td height="10">{{inventario.Unit_Price | currency:"GTQ":"Q"}}</td>
                                <th height="10">{{inventario.Stock}}</th>
                                <td height="10">{{inventario.Statuss}}</td>
                                <td><a class="btn btn-warning btn-sm" style="background-color:#F7985B;"
                                        (click)="getInventoryId(inventario.Inventory_Id, inventario.Unit_Price, inventario.Stock)"
                                        data-dismiss="modal"><i class="fa fa-check" style="color: white;"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal de agregar cliente nuevo -->
<div class="modal fade bd-cliente-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header" style="width: 900px;" style="background-color:#4a5c8b;">
                <h5 class="modal-title" id="exampleModalLongTitle">Cliente Nuevo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <div class="col">
                            <app-customers-form (Customers_Id)="getCustomerId($event)"></app-customers-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal de cobrar-->
<div class="modal fade bd-cobro-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-dialog  " style="width: 900px;">

            <div class="modal-header d-flex justify-content-center" style="background-color:#EC7063;">
                <h5 class="heading">Cobro</h5>
                <button type="button" class="close" (click)="setear()" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">

                    <h3 style="text-align: center;"><b>Monto</b></h3>
                    <p>Al contado</p>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group row">
                                <h5 style="color: black;">Monto:</h5>
                                <div class="col-md-6">
                                    <input type="number" min="0" #boxalcontado
                                        (keyup.enter)="onPagoalcontado(boxalcontado.value)" ngDefaultControl
                                        name="monto" id="monto" class="form-control" placeholder=" " value=0
                                        tabindex="1" />
                                </div>
                            </div>
                            <hr>

                            <div class="form-group row">
                                <h5 style="color: black;">Descripción:</h5>
                                <div class="col-sm-9">
                                    <textarea name="descripcion" [(ngModel)]="pago_detalle.Description" ngDefaultControl
                                        id="descripcion" class="form-control" placeholder="" tabindex="1"></textarea>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <h3 style="color: #EC7063;">{{cadena_pago}}</h3>
                                        <div class="col-sm-4">
                                            <h3 style="color:#EC7063;">{{total_cobro | currency:"GTQ":"Q"}}</h3>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" (click)="enviar()" class="btn btn-primary" 
                                        routerLink="/bill-header-form">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 50px;"></div>