@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
h1{
    color: #fdfdfd;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: #fdfdfd;
}
.my-custom-scrollbar {
    position: relative;
    height: 490px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
    }
.header{
       position:sticky;
       top: 0 ;
}
    