<div class="container">
  <h1 style="text-align: center; font-weight: bold">Listado de Clientes</h1>
  <h2 style="text-align: center">____________________</h2>
  <br><br>
  <form>
    <div class="form-group row">
      &nbsp;&nbsp;&nbsp;<i class="fa fa-search fa-lg"></i> &nbsp;&nbsp;&nbsp;
      <input type="text" class="form-control" name="searchTerm5" [(ngModel)]="searchTerm5" placeholder="Buscar cliente"
        style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-success btnsm" routerLink="/customers-form">Agregar Cliente</a>
    </div>
  </form>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-hover" style="background-color: #f8f9f9">
    <thead class="thead-dark">
      <tr>
        <th class="header" scope="col">#</th>
        <th class="header" scope="col">DPI</th>
        <th class="header" scope="col">Nombres</th>
        <th class="header" scope="col">Apellidos</th>
        <th class="header" scope="col">Número de teléfono</th>
        <th class="header" scope="col">Nit</th>
        <th class="header" scope="col">Dirección</th>
        <th class="header" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers | filtradocustomers: searchTerm5">
        <th>{{ customer.Customers_Id }}</th>
        <td>{{ customer.DPI }}</td>
        <td>{{ customer.Names }}</td>
        <td>{{ customer.Last_names }}</td>
        <td>{{ customer.Phone_Number }}</td>
        <td>{{ customer.NIT }}</td>
        <td>{{ customer.Address }}</td>
        <td>
          <a class="btn btn-warning btn-sm" style="background-color:#F7985B;" routerLink="/customers-form/{{ customer.Customers_Id }}"> 
          <i class="fa fa-pencil-square-o fa-lg" style="color: white;"></i></a>&nbsp;
          <a class="btn btn-danger btn-sm" style="background-color:#e74c3c;" (click)="delete(customer.Customers_Id)">
          <i class="fa fa-trash fa-lg" style="color: white;"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>