<a class="btn btn-success btnsm" routerLink="/customers-form" style="float: right;">Agregar +</a>
<div style="height:50px;"></div>
<h1>Listado de clientes</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">DPI</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Numero de telefono</th>
            <th scope="col">Nit</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <th>{{customer.Customers_Id}}</th>
            <td>{{customer.DPI}}</td>
            <td>{{customer.Names}}</td>
            <td>{{customer.Last_names}}</td>
            <td>{{customer.Phone_Number}}</td>
            <td>{{customer.NIT}}</td>
            <td>{{customer.Address}}</td>
        <td><a class="btn btn-warning btnsm" routerLink="/customers-form/{{customer.Customers_Id}}">Editar</a> 
           <a class="btn btn-danger btnsm" (click)="delete(customer.Customers_Id)" style="color:white; ">Eliminar</a>
        </td>
    </tr>    
    </tbody>
</table>