<section class="photo" id="inicio">
  

  <div class="photo-text">
  <h4 data-ix="skype">QUETZAL FINANCE</h4>
  <p data-ix="subtitle-hero-up">Brindando productividad, facilitando tu empresa.</p>
    </div>
  <div class="overlay"></div>
</section>
<section class="content" style="background-color: white;">
  <div class="grand-title" id="servicio">
    <h4 data-ix="slowfade-scroll-bigs">Apoyamos a tu empresa con la mejor sistema financiero de Guatemala!</h4>
  </div>
  <div class="inner-content">
    <div class="boxy"></div>
    <div class="boxy">
      <div id="slider">
        <figure>
          <ul>
            <li>
              <h4>Administración y Finanzas</h4>
              <img src="url('../../../../../assets/images/finance.png" alt="" />
              <p>Aumenta la productividad y organizción de tu empresa con mayor facilidad.</p>
            </li>
            <li>
              <h4>Comercial</h4>
              <img src="url('../../../../../assets/images/commerce.png" alt="" />
              <p>Obten un mayor control de tus registros de clientes y ventas.</p>
            </li>
            <li>
              <h4>Operaciones</h4>
              <img src="url('../../../../../assets/images/operation.png" alt="" />
              <p>Optimización y generación de reportes e inventarios</p>
            </li>
            <li>
              <h4>Recursos Humanos</h4>
              <img src="url('../../../../../assets/images/recursos.png" alt="" />
              <p>Conecta a tus empleados a la plataforma a traves de roles! </p>
            </li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <section class="portafolio" id="trabajo">
    <h4 data-ix="slowfade-scroll-bigs" style="color: #354757;">Desarrolladores</h4>
    <div class="portafolio-container">
      <section class="portafolio-item">
        <img src="url('../../../../../assets/images/andres.jpg" alt="" class="portafolio-img"/>
        <section class="portafolio-text">
          <h5>Andrés Rivera</h5>
          <p>Desarrollador y programador del sistema.</p>
        </section>
      </section>
      <section class="portafolio-item">
        <img src="../../../assets/images/julio.jpg" alt="" class="portafolio-img" />
        <section class="portafolio-text">
          <h5>Julio Cayax</h5>
          <p>Scum master, desarrollador y programador del sistema.</p>
        </section>
      </section>
      <section class="portafolio-item">
        <img src="../../../assets/images/BN3.jpg" alt="" class="portafolio-img"/>
        <section class="portafolio-text">
          <h5>Esdras Jiménez</h5>
          <p>Product owner, desarrollador y programador del sistema.</p>
        </section>
      </section>
      <section class="portafolio-item">
        <img src="../../../assets/images/kevin.jpg" alt="" class="portafolio-img"/>
        <section class="portafolio-text">
          <h5>Kevin González</h5>
          <p>Desarrollador y programador del sistema.</p>
        </section>
      </section>
    </div>
  </section>
  <br><br><br>
  <!-- Siguiente bloque -->
</section>

  
