<section class="photo" id="inicio">
  

  <div class="photo-text">
  <h4 data-ix="skype">QUETZAL COMMERCE</h4>
  <p data-ix="subtitle-hero-up">Brindando productividad, facilitando tu empresa.</p>
    </div>
  <div class="overlay"></div>
</section>
<section class="content" style="background-color: white;">
  <br>
  <div class="grand-title" id="servicio">
    <h4 data-ix="slowfade-scroll-bigs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, repellendus!</h4>
  </div>
<br>
  <div class="inner-content">
    <div class="boxy"></div>
    <div class="boxy">
      <div id="slider">
        <figure>
          <ul>
            <li>
              <h4>Andrés Rivera</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Desarrollador y programador del sistema.</p>
            </li>
            <li>
              <h4>Julio Cayax</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Scum master, desarrollador y programador del sistema..</p>
            </li>
            <li>
              <h4>Kevin González</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Desarrollador y programador del sistema.</p>
            </li>
            <li>
              <h4>Esdras Jiménez</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Product owner, desarrollador y programador del sistema.</p>
            </li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <section class="portafolio" id="trabajo">
    <h4 data-ix="slowfade-scroll-bigs">Desarrolladores</h4>
    <div class="portafolio-container">
      <section class="portafolio-item">
        <img src="https://unsplash.it/400/430?image=490" alt="" class="portafolio-img"/>
        <section class="portafolio-text">
          <h5>genialidea</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus doloremque, error nostrum tempora sapiente corporis.</p>
        </section>
      </section>
      <section class="portafolio-item">
        <img src="../../../assets/images/julio.jpg" alt="" class="portafolio-img" />
        <section class="portafolio-text">
          <h5>genialidea</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus doloremque, error nostrum tempora sapiente corporis.</p>
        </section>
      </section>
      <section class="portafolio-item">
        <img src="../../../assets/images/BN3.jpg" alt="" class="portafolio-img"/>
        <section class="portafolio-text">
          <h5>genialidea.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus doloremque, error nostrum tempora sapiente corporis.</p>
        </section>
      </section>
      <section class="portafolio-item">
        <img src="https://unsplash.it/400/430?image=490" alt="" class="portafolio-img"/>
        <section class="portafolio-text">
          <h5>genialidea</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus doloremque, error nostrum tempora sapiente corporis.</p>
        </section>
      </section>
    </div>
  </section>
  <br><br><br>
  <!-- Siguiente bloque -->
</section>

  
