<section class="photo" id="inicio">
  

  <div class="photo-text">
  <h4 data-ix="skype">genialidea</h4>
  <p data-ix="subtitle-hero-up">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, quasi laboriosam architecto voluptatibus et, asperiores.</p>
    </div>
  <div class="overlay"></div>
</section>
<section class="content" style="background-color: white;">
  <div class="grand-title" id="servicio">
    <h4 data-ix="slowfade-scroll-bigs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, repellendus!</h4>
  </div>

  <div class="inner-content">
    <div class="boxy"></div>
    <div class="boxy">
      <div id="slider">
        <figure>
          <ul>
            <li>
              <h4>Lorem ipsum 1</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, perspiciatis.</p>
            </li>
            <li>
              <h4>Lorem ipsum 2</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, fugiat!</p>
            </li>
            <li>
              <h4>Lorem ipsum 3</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, nemo!</p>
            </li>
            <li>
              <h4>Lorem ipsum 4</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, consequatur.</p>
            </li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
</section>

  
