<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Producto</th>
            <th scope="col">Presentacion</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Precio minorista</th>
            <th scope="col">Precio mayorista</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inventory of inventory">
            <th>{{inventory.Inventory_Id}}</th>
            <th>{{inventory.Product_Id}}</th>
            <td>{{inventory.Presentation_Id}}</td>
            <td>{{inventory.Stock}}</td>
            <td>{{inventory.Unit_Price}}</td>
            <td>{{inventory.Retail_Price}}</td>
            <td>{{inventory.Wholesale_Price}}</td>
        </tr>
    </tbody>
</table>