<div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
    <div class="container">
        <div class="form-group row">
            <label for="inventory" class="col-form-label">Inventario:</label>
            <div class="col">
                <input type="text" name="inventory" id="inventory" class="form-control"
                    placeholder="Buscar en el inventario" tabindex="4" />
            </div>
            <div class="col">
                <button type="button" class="btn btn-success" (click)="add()">Agregar</button>
            </div>
        </div>
    </div>
</div>
<!---->
<h1>Inventario</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID Inventario</th>
            <th scope="col">No. Correlativo</th>
            <th scope="col">Producto  -  Marca  -  Categoria</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Precio minorista</th>
            <th scope="col">Precio mayorista</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inventory of inventories">
            <th>{{inventory.Inventory_Id}}</th>
            <th>{{inventory.Correlative_Product}}</th>
            <th>{{inventory.ProductComplete}}</th>
            <td>{{inventory.Stock}}</td>
            <td>{{inventory.Unit_Price}}</td>
            <td>{{inventory.Retail_Price}}</td>
            <td>{{inventory.Wholesale_Price}}</td>
            <td><a class="btn btn-warning btnsm" routerLink="/inventory-form/{{inventory.Inventory_Id}}">Editar</a> <a
                    class="btn btn-danger btnsm" (click)="delete(inventory.Inventory_Id)">Eliminar</a></td>
        </tr>
    </tbody>
</table>