section.featured {
    padding: 60px 0 40px;
    margin-top: -30px;
	color: #fdfdfd;
}
section.section {
	margin:0;
	padding: 80px 0 60px 0;
}

.bg-white {
	background-color: #fff;
}

/* --- section heading --- */
.section-header {
	text-align: center;
}
.section-header h2.section-heading {
	text-transform: uppercase;
	font-weight: 700;
}

.navbar{
    background-color:#4c918a;
  } 

body {
	background-image: url("../assets/images/Scroll1.jpg");
	background-repeat: repeat-x;
	height: auto;
	background-color: #48776D;
  }

