<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Node + Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent"
      ariacontrols="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/brand-home">Home <span class="sronly">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/brand-form">Form</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
</html>