<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
</head>

<body>

  <!-- <ng-container *ngIf="!isLog; else viewNavbar">
   <app-login-form (IsLogued)="OnMostrar($event)"></app-login-form>
   <button (click)="isLogued = !isLogued">MOSTRAR</button>
  </ng-container>-->

  <!--<ng-template #viewNavbar>-->
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-#00806F">
    <ng-container *ngIf="Existe>0;">
      <!--TOGGLE MAYBE DELETE-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        ariacontrols="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home">&nbsp;&nbsp;<img src="../assets/images/logo2.png" style="height: 70px;">&nbsp;&nbsp;&nbsp;I N I C I O</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <a class="nav-link">|</a>
          <div style="width: 14px;"></div>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Ventas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/customers-home">Clientes</a>
              <ng-container *ngIf="rol==1;">
                <a class="dropdown-item" routerLink="/employee-home">Empleados</a>
              </ng-container>
              <a class="dropdown-item" routerLink="/employee-position-home">Posición Empleado</a>
              <a class="dropdown-item" routerLink="/payment-home">Pagos</a>
              <a class="dropdown-item" routerLink="/accounts-receivable">Cuentas por cobrar</a>
              <a class="dropdown-item" routerLink="/serie-form">Series de facturas</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/bill-header-form">Factura Ventas</a>
            </div>
          </li>
          <div style="width: 21px;"></div>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Compras
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/providers-home">Proveedores</a>
              <a class="dropdown-item" routerLink="/debs-to-pay-home">Cuentas por pagar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/purchase_header-form">Factura Compras</a>
            </div>
          </li>
          <div style="width: 21px;"></div>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Inventario
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/inventory-home">Inventario</a>
              <a class="dropdown-item" routerLink="/product-home">Producto</a>
              <a class="dropdown-item" routerLink="/lot-home">Lote</a>
              <a class="dropdown-item" routerLink="/brand-home">Marca</a>
              <a class="dropdown-item" routerLink="/product-category-home">Categoría Producto</a>
            </div>
          </li>
          <div style="width: 21px;"></div>
          <ng-container *ngIf="rol==1;">
            <!-- MULTIPLE DROPDOWNS INIT -->
            <li class="nav-item dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" class="nav-link" data-target="#">
                Reportes <span class="caret"></span>
              </a>
              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                  <a tabindex="-1" class="dropdown-item">Compras</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" class="dropdown-item" routerLink="/purchase-reports-home">Total de compras
                        realizadas en un intervalo de tiempo</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" routerLink="/debs-pay-home">Cuentas por pagar vigentes</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" class="dropdown-item">Ventas</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" class="dropdown-item" routerLink="/report1">Facturas emitidas agrupadas por
                        series</a></li>
                    <li><a class="dropdown-item" routerLink="/report2">Clientes más frecuentes</a></li>
                    <li><a class="dropdown-item" routerLink="/report3">Cuentas por cobrar vigentes</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="dropdown-item" routerLink="/inventory-reports-home">Inventario</a></li>
              </ul>
            </li>
            <!-- END OF DROPDOWNS-->
          </ng-container>
          <div style="width: 21px;"></div>
          <ng-container *ngIf="rol==1;">
            <li class="nav-item dropdown">
              <a id="dLabel" role="button"  data-toggle="dropdown" class="nav-link"
                data-target="#">
                Estado de resultados <span class="caret"></span>
              </a>
              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="nav-item"><a class="dropdown-item" routerLink="/resultstatement-home">Estado de Resultados</a></li>
                <li class="nav-item"><a class="dropdown-item" routerLink="/incomes">Ingresos</a></li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" class="dropdown-item">Egresos</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" class="dropdown-item" routerLink="/expenditures-home">Egresos</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" routerLink="/expenses-home">Gastos</a></li>
                    <li><a class="dropdown-item" routerLink="/costs-home">Costos</a></li>
                    <li><a class="dropdown-item" routerLink="/billtype-home">Tipos de Factura</a></li>
                    <li><a class="dropdown-item" routerLink="/bank-home">Bancos</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ng-container>
          <div style="width: 21px;"></div>
          <ng-container *ngIf="rol==1;">
            <li class="nav-item dropdown">
              <a id="dLabel" role="button"  routerLink="/balance-sheet"  data-toggle="dropdown" class="nav-link"
                data-target="#">
                Balance general <span class="caret"></span>
              </a>
            </li>
          </ng-container>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <h5> {{usuario}}</h5>
            </a>
            <li class="nav-item dropdown">
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <ng-container *ngIf="rol==1;">
                  <a class="dropdown-item" routerLink="/company/1" style="color: black;"><i class="fa fa-building"
                      aria-hidden="true"></i>&nbsp; Editar Empresa</a>
                </ng-container>
                <ng-container *ngIf="rol==1;">
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/user"><i class="fa fa-user-circle"
                      aria-hidden="true"></i>&nbsp;Crear Nuevo Usuario</a>
                </ng-container>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"
                    aria-hidden="true"></i>&nbsp;Cerrar Sesion</a>
              </div>
            </li>
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-user fa-lg" style="color: white;"></i>
            </a>

          </ul>
        </form>
      </div>
    </ng-container>
  </nav>
  <br>
  <section class="featured">
    <router-outlet></router-outlet>
  </section>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca del sistema</h6>
          <p class="text-justify">Quetzal Commerce <i>APOYANDO CON TU EMPRESA </i> Es un sistema web contable que
            brinda una herramienta amigable, para el manejo financiero de su empresa. Al mismo tiempo, permite lograr
            una
            mejor organización en los estados contables de su empresa, localizando y analizando datos para gestionar
            su proceso financiero. Este sistema generara un beneficio económico, incremento de productividad
            y una buena gestión de tomas de decisiones. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categorías</h6>
          <ul class="footer-links">
            <li><a>Ventas</a></li>
            <li><a>Compras</a></li>
            <li><a>Inventario</a></li>
            <li><a>Reportes</a></li>
            <li><a>Estado de resultados</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Mas Información</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Sobre nosotros</a></li>
            <li><a href="http://scanfcode.com/contact/">Contáctanos</a></li>
            <li><a href="https://www.gruposgestores.org.gt/2011/">Nuestra alianza</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Política de privacidad</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
            <a href="#">Quetzal Commerce</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>