<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
</head>

<body>
  
  <!-- <ng-container *ngIf="!isLog; else viewNavbar">
   <!--<app-login-form (IsLogued)="OnMostrar($event)"></app-login-form>
   <button (click)="isLogued = !isLogued">MOSTRAR</button>
  </ng-container>-->
  
  <!--<ng-template #viewNavbar>-->
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-#00806F py-4" >  
    <!--<a class="navbar-brand" href="#">Node + Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent"
      ariacontrols="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/brand-home">Home <span class="sronly">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/bill-header-form">Encabezado Factura</a>
            <a class="dropdown-item" routerLink="/customers-home">Clientes</a>
            <a class="dropdown-item" routerLink="/employee-home">Empleados</a>
            <a class="dropdown-item" routerLink="/employee-position-home">Posicion Empleado</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Compras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/payment-home">Pagos</a>
            <a class="dropdown-item" routerLink="/payment-type-home">Tipo de Pago</a>
            <a class="dropdown-item" routerLink="/payment-purchase-home">Pago Compra</a>
            <a class="dropdown-item" routerLink="/payment-detail-purchase-home">Detalle de pago compra</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inventario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/brand-home">Marca</a>
            <a class="dropdown-item" routerLink="/product-home">Producto</a>
            <a class="dropdown-item" routerLink="/product-category-home">Categoria producto</a>
            <a class="dropdown-item" routerLink="/lot-home">Lote</a>
            <a class="dropdown-item" routerLink="/inventory-home">Inventario</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Otros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/providers-home">Proveedores</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <h3 style="color:white;">{{usuario}}</h3>
        <ul class="navbar-nav mr-auto">
          
        <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/login">Iniciar sesion</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="#">Configuracion de cuenta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Cerrar Session</a>
          </div>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user fa-lg" style="color: white;"></i>
          </a>
          </li>
        </ul>
      </form>
    </div>
  </nav> 
  <br>
  <section class="featured">
    <div class="container">
      <router-outlet></router-outlet>
    </div> 
  </section>
<!--</ng-template>-->
</body>
</html>