<div class="container">
    <h1 style="text-align: center; font-weight: bold;">Listado de Detalles Tipo de Pago</h1>
    <h2 style="text-align: center;">____________________</h2><br><br>
<a class="btn btn-success btnsm" routerLink="/payment-type-form">Agregar +</a>
<div style="height:20px;"></div>

<table class="table table-hover" style="background-color:#F8F9F9;" id="searchTextResults">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cantidad Total</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Payment_Id</th>
            <th scope="col">Bill_Header_Id</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paymentType of paymentType">
            <td>{{paymentType.Type_Detail_Id}}</td>
            <td>{{paymentType.Total_Amount}}</td>
            <td>{{paymentType.Description}}</td>
            <td>{{paymentType.Payment_Id}}</td>
            <td>{{paymentType.Bill_header_Id}}</td>
            <td><a class="btn btn-info btn-sm" style="background-color: #6cb3aa;" routerLink="/payment-type-form/{{paymentType.Type_Detail_Id}}">Editar</a> <a
                    class="btn btn-danger btn-sm" (click)="delete(paymentType.Type_Detail_Id)">Eliminar</a></td>
        </tr>
    </tbody>
</table>