<div class="container">
    <div class="container card">
        <div class="card-body" style="height: 100%;">
            <h2 class="alert alert-primary" role="alert" style="text-align: center;">Editar/Crear Lote</h2>
            <div class="alert alert-warning" role="alert" style="background-color:#699DBF; height: 100%;">

                <form name ="formulario" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
                    <!--Product-->
                    <div style="width: 60%; height:100px">
                        <label style="color: white;"> Seleccione el producto</label>
                        <ng-select [searchFn]="searchProduct" id="product" name="products" [items]="products"
                            [virtualScroll]="true" bindLabel="Name" bindValue="Product_Id" placeholder="Producto"
                            [(ngModel)]="selectedProductId">
                            <ng-template ng-header-tmp>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">Producto</div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template ng-label-tmp let-item="item">
                                <span>{{item.Complete}}</span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{item.Complete}}
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="form-group row"> &nbsp;&nbsp;&nbsp;&nbsp;
                        <label style="color: white;">Fecha de caducidad:</label>
                        <div class="col-md-9">
                            <input type="date" id="start" name="Due_Date" [(ngModel)]="selectedDueDate"
                                [ngModelOptions]="{standalone: true}" class="form-control" style="width: 80%;">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="submit" (click)="savePost()" class="btn btn-success" type="submit">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>