<div class="container">
    <h1>Ingreso de lotes</h1>
    <form>
        <!--Product-->
        <div style="width:300px; height:100px">
            <label> Seleccione el producto</label>
            <ng-select [searchFn]="searchProduct" id="product" name="products" [items]="products" [virtualScroll]="true"
                bindLabel="Name" bindValue="Product_Id" placeholder="Producto" [(ngModel)]="selectedProductId">
                <ng-template ng-header-tmp>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">Producto</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                    <span>{{item.Complete}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{item.Complete}}
                </ng-template>
            </ng-select>
        </div>

        <div class="form-group row">
            <label>Fecha de caducidad:</label>
            <div class="col-md-9">
                <input type="date" id="start" name="trip-start" [(ngModel)]="lot.Due_Date"
                    [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <button type="submit" (click)="savePost()" class="btn btn-dark">Registrar</button>
            </div>
        </div>
    </form>
    <hr>
</div>