<div class="container card">
    <div class="card-body">
        <h2 class="alert alert-primary" role="alert">Editar Lote</h2>
        <div class="alert alert-warning" role="alert">

            <div class="form-group row">
                <label class="col-md-3 form-controllabel" for="Lot">Fecha: </label>
                <div class="col-md-9">
                    <input [(ngModel)]="lot.Due_Date" type="date" id="Due_Date" class="form-control">
                </div>

                <label class="col-md-3 form-controllabel" for="Lot"> Seleccione producto: </label>
                <select id="lot_producto" name="lot_producto" [(ngModel)]="lot.Product_Id" [ngModelOptions]="{standalone: true}"style="width:700px" >
                    <option *ngFor="let product of products" value="{{product.Product_Id}}" style="height: 1200px">
                        {{product.Name}}
                     </option>
                </select>

            </div>
            
            <div class="form-group row">
                <div class="col-md-12">
                    <button (click)="savePost()" class="btn btn-primary btnblock" routerLink="/lot-home">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


