<div class="container">
    <h1>Reporte facturas emitidas agrupadas por series</h1>
    <br><br>
    <form>
    <div class="form-group row">
        <label for="" class="col-form-label">Fecha Inicio:</label>
        <div class="col-md-4">
            <input type="date" name="" [(ngModel)]="report2.fechainicio" [ngModelOptions]="{standalone: true}" id="" class="form-control" tabindex="1" />
        </div>
        <label for="" class="col-form-label">Fecha Fin:</label>
        <div class="col-md-4">
            <input type="date" name="" [(ngModel)]="report2.fechafin"  [ngModelOptions]="{standalone: true}"id="" class="form-control" tabindex="1" />
        </div>
        <div class="col-md-2">
            <button type="submit" (click)="saveReport1()" class="btn btn-danger">Consultar</button>
        </div>
        <br><br><br>
        <div class="col-md-2">
            <button type="button" class="btn btn-danger" (click)="downloadPDF()">Generar PDF</button>
        </div>
    </div>
</form>

    <div id="pdfTable" #pdfTable>
        <h4 style="text-align: right;">Total generado: {{total_total | currency:"GTQ":"Q"}}</h4>
        <div *ngFor="let report of reportt1">
            <table class="table table-dark " style="table-layout: fixed; word-wrap: break-word;" id="table">
                <thead>
                    <tr>
                        <th scope="col">Serie: {{report[0].Serie}}</th>
                        <th scope="col">Subtotal: {{report[report.length-1] | currency:"GTQ":"Q"}}</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th scope="col">Nombre Cliente </th>
                        <th scope="col">NIT </th>
                        <th scope="col">Num Factura </th>
                        <th scope="col">Fecha de venta </th>
                        <th scope="col">Total factura </th>
                    </tr>
                </thead>
                <tbody *ngFor="let report1 of report">
                    <tr>
                        <td height="10">{{report1.Names}}</td>
                        <td height="10">{{report1.NIT}}</td>
                        <td height="10">{{report1.Correlative_Number}}</td>
                        <td height="10">{{report1.Date |date:'d-M-y'}}</td>
                        <td height="10">{{report1.Total | currency:"GTQ":"Q"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="height: 70px;"></div>