<div style="height: 60px;"></div>
<div class="container">
    <div class="container card">
        <div class="card-body" style="height: 100%;">
            <h2 class="alert alert-primary" role="alert" style="text-align: center;">Editar/Crear Empleado</h2>
            <div class="alert alert-warning" role="alert" style="background-color:#699DBF; height: 100%;">
                <form name ="formulario" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="DPI">DPI</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.DPI" type="text" name="DPI" id="DPI" class="form-control"
                        minlength="7" maxlength="20" placeholder="Ingrese no. de DPI" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Names">Nombres</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Names" type="text" id="Names" name="Names" class="form-control"
                        minlength="4" maxlength="70" placeholder="Ingrese nombres" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Last_names">Apellidos</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Last_names" type="text" id="Last_names" name="Last_names" class="form-control"
                        minlength="4" maxlength="70" placeholder="Ingrese apellidos" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Phone_number">Número Telefónico</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Phone_number" type="text" id="Phone_number"  name="Phone_number" class="form-control" placeholder="Campo opcional *">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Cellphone_number">Número Móvil</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Cellphone_number" type="text" name="Cellphone_number" id="Cellphone_number"
                            class="form-control" minlength="7" maxlength="15" placeholder="Ingrese numero movil" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Email">Correo Electrónico</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Email" type="email" name="Email" id="Email" class="form-control" placeholder="Campo opcional *">
                    </div>
                </div>
                <!-- 
            <div class="form-group row">
                <label class="col-md-3 form-controllabel" for="Gender">Genero</label>
                <div class="col-md-9">
                    <input [(ngModel)]="employee.Gender" type="text" id="Gender" class="form-control">
                </div>
            </div> -->
                <div class="form-group row">
                    <label class="col-md-3 form-controllabel">Genero </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="male" style="color: white;">Masculino</label>&nbsp;
                    <input type="radio" [(ngModel)]="employee.Gender"  name="male" id="male" value="1" checked>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="female" style="color: white;">Femenino</label>&nbsp;
                    <input type="radio" [(ngModel)]="employee.Gender" name="female" id="female" value="0">
                </div>
                <!-- TAKE 1-->

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Hire_date" timezone="[[timezone]]">Fecha Contrato</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Hire_date" type="date" name="Hire_date" id="Hire_date"  class="form-control"
                            style="width: 80%;" required>
                    </div>
                </div>
                
                &nbsp;&nbsp;
                <label class="col-md-3 form-controllabel" for="Lot"> Seleccione posición del empleado: </label>
                <select id="Name"  name="Name" [(ngModel)]="employee.Employee_Position_Id"
                    [ngModelOptions]="{standalone: true}" style="width:35%; border-radius: 4px;">
                    <option *ngFor="let employeePos of employeePosition" value="{{employeePos.Employee_Position_Id}}" id="Name" name="Name"
                        style="height: 1200px">
                        {{employeePos.Name}}
                    </option>
                </select>
                <br><br>
            
                    <!-- Metodo 2 de nuevo empleado 
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="textinput"> Seleccione posición del empleado:</label>
                    <div style="width:60%; height:100px" class="col-md-6">
                        <ng-select [searchFn]="searchEmployeePos" id="employeePos" name="employeePos"
                            [items]="employeePos" [virtualScroll]="true" bindLabel="Name"
                            bindValue="Employee_Pos_Id" [(ngModel)]="selectedEmployeePosId">
                            <ng-template ng-header-tmp>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-8">Buscar posición empleado ...</div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template ng-label-tmp let-item="item">
                                <span>{{item.Name}}</span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{item.Name}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
           -->
                <!-- FIN -->
                <div class="form-group row">
                    <div class="col-md-12">
                        <button (click)="savePost()" class="btn btn-success btnblock" type="submit"
                           >Guardar</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<div style="height: 60px;"></div>