<div style="height: 60px;"></div>
<div class="container">
    <div class="container card">
        <div class="card-body" style="height: 100%;">
            <h2 class="alert alert-primary" role="alert" style="text-align: center;">Editar/Crear Empleado</h2>
            <div class="alert alert-warning" role="alert" style="background-color:#699DBF; height: 100%;">

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="DPI">DPI</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.DPI" type="text" id="DPI" class="form-control"
                        minlength="7" maxlength="20" required="">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Names">Nombres</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Names" type="text" id="Names" class="form-control"
                        minlength="4" maxlength="70" required="">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Last_names">Apellidos</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Last_names" type="text" id="Last_names" class="form-control"
                        minlength="4" maxlength="70" required="">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Phone_number">Número Telefónico</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Phone_number" type="text" id="Phone_number" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Cellphone_number">Número Móvil</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Cellphone_number" type="text" id="Cellphone_number"
                            class="form-control" minlength="7" maxlength="15" required="">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Email">Correo Electrónico</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Email" type="email" id="Email" class="form-control" 
                        pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required>
                    </div>
                </div>
                <!-- 
            <div class="form-group row">
                <label class="col-md-3 form-controllabel" for="Gender">Genero</label>
                <div class="col-md-9">
                    <input [(ngModel)]="employee.Gender" type="text" id="Gender" class="form-control">
                </div>
            </div> -->
                <div class="form-group row">
                    <label class="col-md-3 form-controllabel">Genero </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="male" style="color: white;">Masculino</label>&nbsp;
                    <input type="radio" [(ngModel)]="employee.Gender" name="gender" id="male" value="1" checked>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="female" style="color: white;">Femenino</label>&nbsp;
                    <input type="radio" [(ngModel)]="employee.Gender" name="gender" id="female" value="0">
                </div>
                <!-- TAKE 1-->

                <div class="form-group row">
                    <label class="col-md-3 form-controllabel" for="Hire_date">Fecha Contrato</label>
                    <div class="col-md-9">
                        <input [(ngModel)]="employee.Hire_date" type="date" id="Names" class="form-control"
                            style="width: 80%;" required="">
                    </div>
                </div>

                &nbsp;&nbsp;
                <label class="col-md-3 form-controllabel" for="Lot"> Seleccione posición del empleado: </label>
                <select id="employee_pos" name="employee_pos" [(ngModel)]="employee.Employee_Position_Id"
                    [ngModelOptions]="{standalone: true}" style="width:60%;">
                    <option *ngFor="let employeePos of employeePosition" value="{{employeePos.Employee_Position_Id}}"
                        style="height: 1200px">
                        {{employeePos.Name}}
                    </option>
                </select>

                <br><br>
                <div class="form-group row">
                    <div class="col-md-12">
                        <button (click)="savePost()" class="btn btn-success btnblock"
                            routerLink="/employee-home">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 60px;"></div>