<div class="container">
    <h1 style="text-align: center;">Reporte de cuentas por cobrar vigentes</h1>
    <h2 style="text-align: center;">____________________</h2><br><br>
    <div class="form-group row ">

        <div class="col-md-2">
            <button type="button" class="btn btn-danger" (click)="downloadPDF()">Generar PDF</button>
        </div>
    </div>
    <div id="pdfTable" #pdfTable class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-dark" style="table-layout: fixed; word-wrap: break-word;" id="table">
            <thead>
                <tr>
                    <th scope="col">Nit</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Total debe</th>
                    <th scope="col">Facturas pendientes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reports3 of report3 ">
                    <td height="10">{{reports3.NIT}}</td>
                    <td height="10">{{reports3.Names}}</td>
                    <td height="10">{{reports3.Phone_Number}}</td>
                    <td height="10">{{reports3.Total | currency:"GTQ":"Q"}}</td>
                    <td height="10">{{reports3.NoFacturas }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="height: 90px;"></div>