<a class="btn btn-success btnsm" routerLink="/employee-position-form" style="float: right;">Agregar +</a>
<div style="height:50px;"></div>
<h1>Listado Posicion de Empleados</h1>
<table class="table table-dark">
    <thead>
        <tr> 
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let employeePosition of employeePosition">
            <td>{{employeePosition.Employee_Position_Id}}</td>
            <td>{{employeePosition.Name}}</td>
            <td>{{employeePosition.Description}}</td>
            <td><a class="btn btn-primary btn-sm" routerLink="/employee-position-form/{{employeePosition.Employee_Position_Id}}">Editar</a> &nbsp;
                <a class="btn btn-danger btn-sm" (click)="delete(employeePosition.Employee_Position_Id)">Eliminar</a>
            </td>          
        </tr>
    </tbody>
</table>

 