<div class="container">
    <div class="col-sm-12  ">
    <div class="card" style="width: 50rem; right: 5rem">
        <div class="card-body">
            <div class="form-group row">
            <h5 class="card-title"  style="color: black; margin-left: 2rem;"><b>Series de la factura</b></h5>
           
            <div class="col-sm-8  ">
            <button style="float: right;"  data-toggle="modal" data-target="#ingresoseries" class="btn btn-primary" ><i class="fa fa-plus" style="color: white;"></i>Agregar</button>
            </div>  
        </div>  
            <hr>
            <div class="container grid" >
                <div class="row  " *ngFor="let serie of serie" >
                    <div >
                        <div class="card" style="margin-top: 2rem;" >
                          <div class="card-body">
                            <h4 class="card-title" style="color: black;">Nombre Serie: {{serie.Nombre}}</h4>
                            <h6 class="card-text" style="color: black;">Cantidad Limite: {{serie.Cantidad_limite}}</h6>
                            <h6 class="card-text" style="color: black;">Factura actual: {{serie.Cantidad_inicial}}</h6>
                            <button class="btn btn-primary" *ngIf="!(serie.Cantidad_limite == serie.Cantidad_inicial)" (click)="seleccion(serie.Serie_Id, serie.Nombre, serie.Cantidad_inicial)">Seleccionar</button>
                            
                          </div>
                        </div>
                      </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="ingresoseries" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" style="color: #000;">Agrear serie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label  class="col-form-label" style="color: black;">Nombre serie:</label>
                  <input type="text" [(ngModel)]="series.Nombre" class="form-control" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label" style="color: black;">Numero limite de la serie:</label>
                  <input type="number" [(ngModel)]="series.Cantidad_limite" [ngModelOptions]="{standalone: true}" class="form-control" >
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="guardarserie()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
