<div class="container">
    <div class="container card">
        <div class="card-body" style="height: 100%;">
            <h2 class="alert alert-primary" role="alert" style="text-align: center;">Editar/Crear Productos</h2>
            <div class="alert alert-warning" role="alert" style="background-color:#699DBF; height: 100%;">
                <form name="formulario" onSubmit="return limpiar()">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="textinput">Nombre del producto:</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" [(ngModel)]="procedure_saveproduct.Name" name="Name"
                                placeholder="Ingrese el nombre del producto" [ngModelOptions]="{standalone: true}"
                                required=""> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="textinput">Número correlativo:</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="Correlative_Product"
                                [(ngModel)]="procedure_saveproduct.Correlative_Product"
                                placeholder="Ingrese el numero correlativo" [ngModelOptions]="{standalone: true}"
                                required="">
                        </div>
                    </div>
                    <!--Brand-->
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="textinput"> Seleccione la marca:</label>
                        <div style="width:50%; height:100px" class="col-md-4">
                            <ng-select [searchFn]="searchBrand" id="brand" name="brand" [items]="brands"
                                [virtualScroll]="true" bindLabel="Name" bindValue="Brand_Id" placeholder="Marca"
                                [(ngModel)]="selectedBrandId">
                                <ng-template ng-header-tmp>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">Marca</div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template ng-label-tmp let-item="item">
                                    <span>{{item.Name}}</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    {{item.Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <!--Add Brand-->
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target=".bd-brand-modal-lg">
                                Añadir Marca
                            </button>
                        </div>
                        <label class="col-md-3 form-control-label" for="textinput"></label>
                        <div *ngFor="let brands of brand" class="form-group row">
                            <label for="brand" class="col-md-12 form-control-label"> Marca Insertada:&nbsp;{{brands.Name}} 
                                &nbsp;&nbsp;&nbsp; ¡Ya no debe seleccionar marca!</label>
                        </div>  
                    </div>
                    <!--Product Category-->
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="textinput"> Seleccione la categoría:</label>
                        <div style="width:50%; height:100px" class="col-md-4">
                            <ng-select [searchFn]="searchCategory" id="product_category" name="product_category"
                                [items]="product_category" [virtualScroll]="true" bindLabel="Name"
                                bindValue="Product_Category_Id" placeholder="Categoria"
                                [(ngModel)]="selectedCategoryId">
                                <ng-template ng-header-tmp>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">Categoría</div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template ng-label-tmp let-item="item">
                                    <span>{{item.Name}}</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    {{item.Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <!--Add Category-->
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target=".bd-category-modal-lg">
                                Añadir Categoria
                            </button>
                        </div>
                        <label class="col-md-2 form-control-label" for="textinput"></label>
                        <div *ngFor="let product_category of productcategory" class="form-group row" style="text-align: right;">
                            <label for="brand" class="col-md-15 form-control-label">&nbsp;&nbsp;&nbsp;&nbsp;Categoria de Producto 
                                Insertada: &nbsp;{{product_category.Name}} &nbsp;&nbsp;¡Ya no debe seleccionar categoría de producto!
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="textinput">¿Es perecedero?</label>
                        <div class="col-md-9">
                            <input #small type="checkbox" name="size" (change)="0" v-model="nombre" class="formcontrol"
                                [(ngModel)]="procedure_saveproduct.Perishable" [ngModelOptions]="{standalone: true}">
                            <br>
                            <br>
                            <label *ngIf="small.checked" style="color: white;">Fecha de caducidad:</label>
                            <input *ngIf="small.checked" type="date" id="start" name="trip-start" class="form-control"
                                style="width: 60%;" [(ngModel)]="procedure_saveproduct.Due_Date"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="submit" (click)="saveProduct()" style="background-color:#e74c3c;"
                                class="btn btn-success btnblock">REGISTRAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Modal Brand-->
<div class="modal fade bd-brand-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header" style="width: 900px;" style="background-color:#4a5c8b;">
                <h5 class="modal-title" id="exampleModalLongTitle">Marca Nueva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <div class="col">
                            <app-brand-form (Brand_Id)="getBrandId($event)"></app-brand-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Product Category-->
<div class="modal fade bd-category-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header" style="width: 900px;" style="background-color:#4a5c8b;">
                <h5 class="modal-title" id="exampleModalLongTitle">Categoria de Producto Nueva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y:auto;">
                <div class="container">
                    <div class="form-group row">
                        <div class="col">
                            <app-product-category-form (Category_Id)="getCategoryId($event)"></app-product-category-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>