<body>
  <ng-container *ngIf="Existe>0;">
    <div class="login-wrap">
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ingresar</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Inscríbete</label>

        <div class="login-form">
          <div class="sign-in-htm">
            <form name ="formulario" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
            <div class="group">
              <label for="Username" class="label">Usuario</label>
              <input  type="text" class="input" id="Username" name="Username" [(ngModel)]="login.Username">
            </div>
            <div class="group">
              <label for="Password" class="label">Contraseña</label>
              <input id="Password" name="Password" type="password" class="input" [(ngModel)]="login.Password" data-type="password">
            </div>
            <div class="group">
              <input type="submit" class="button" value="Ingresar" (click)="savePost()">
            </div>
          </form>
            <div class="hr"></div>
            <div class="foot-lnk">
            </div>
          </div>
          <!-- BOTON INSCRIBETE -->
          <div class="sign-up-htm">
            <br>
            <label for="user" class="label" style="text-align: justify;">Para poder registrarte por favor consulta al
              Grupo Gestores
              de Quetzaltenango para mayor informacion.
            </label>
          </div>
        </div>
      </div>
      <div class="login-wrap3"></div>
    </div>
    <br><br><br>
  </ng-container>
  <!-- SI NO EXISTE CUENTA -->
  <ng-container *ngIf="Existe==0">
    <div class="login-wrap2">
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab">Bienvenido</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Registro</label>
        <div class="login-form">
          <div class="sign-in-htm"> 
            <br>
            <label for="user" class="label" style="text-align: justify;">¡Hola! <br><br>
              Bienvenido al Quetzal Commerce. Muchas gracias por unirte a nuestro sistema financiero de Grupos Gestores.
              <br><br> Como primer paso para formar parte de nuestro sistema, por favor registrarte en 
              el tabulador de la par llamado "REGISTRO". <br><br>
              Para mas información sobre el sistema, consultanos a nuestro correo electrónico indicado en la pie de página.
            </label>
            <!-- BOTON INSCRIBETE -->
          </div>
          <div class="sign-up-html">
            <div class="group">
              <label for="DPI" class="label">No. DPI</label>
              <input id="DPI" type="text" class="input" [(ngModel)]="employee.DPI" minlength="12" maxlength="16">
            </div>
            <div class="group">
              <label for="Names" class="label">Nombres</label>
              <input id="Names" type="text" class="input" [(ngModel)]="employee.Names" minlength="4">
            </div>
            <div class="group">
              <label for="Last_names" class="label">Apellidos</label>
              <input id="Last_names" type="text" class="input" [(ngModel)]="employee.Last_names" minlength="4">
            </div>
            <div class="group">
              <label for="Phone_number" class="label">Teléfono 1</label>
              <input id="Phone_number" type="text" class="input" [(ngModel)]="employee.Cellphone_number" maxlength="15">
            </div>
            <div class="group">
              <label for="Cellphone_number" class="label">Teléfono 2</label>
              <input id="Cellphone_number" type="text" class="input" [(ngModel)]="employee.Phone_number" min="7" maxlength="15">
            </div>
            <div class="group">
              <label for="user" class="label">Correo Electrónico</label>
              <input id="user" type="email" class="input" [(ngModel)]="employee.Email" min="7" maxlength="30">
            </div>
            <div class="group">
              <label for="user" class="label">Genero</label>
              &nbsp;&nbsp;&nbsp;&nbsp;<label for="male" style="color: white;">Masculino</label>&nbsp;
              <input type="radio" [(ngModel)]="employee.Gender" name="gender" id="male" value="1"
                checked>&nbsp;&nbsp;&nbsp;&nbsp;
              <label for="female" style="color: white;">Femenino</label>&nbsp;
              <input type="radio" [(ngModel)]="employee.Gender" name="gender" id="female" value="0">
            </div>
            <div class="group">
              <label for="Hire_date" class="label">Fecha de Contratación</label>
              <input id="Hire_date" type="date" class="input" [(ngModel)]="employee.Hire_date">
            </div>
  
            <div class="group">
              <input type="submit" class="button" value="Siguiente" data-toggle="modal" data-target=".bd-company-modal-lg">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
  
            </div>
          </div>
        </div>
      </div>
      <div class="login-wrap4"></div>
    </div>
    <br><br>
  </ng-container>


  <div class="modal fade bd-company-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" style=" color:black;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 700px">
      <!-- MODAL CREATE USERNAME AND PASS -->
      <div class="modal-content" style="width: 700px">
        <div class="modal-header" style="width: 700px; background-color: #4a5c8b; color: white;">
          <h5 class="modal-title" id="exampleModalLongTitle">
            <b>Agreguemos a tu empresa</b>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y: auto;">
          <div class="modal-body" style="max-height: 900px; max-width: 900px; overflow-y: auto;">
            <div class="form-group row">
              <label class="col-md-3 form-controllabel" for="Company">Nombre de la empresa</label>
              <div class="col-md-9">
                <input [(ngModel)]="company.Company_Name" type="text" id="Username" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-controllabel" for="Dirección">Dirección </label>
              <div class="col-md-9">
                <input [(ngModel)]="company.Address" type="text" id="Address" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-controllabel" for="NIT">NIT </label>
              <div class="col-md-9">
                <input [(ngModel)]="company.NIT" type="text" id="NIT" class="form-control" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal"
              style="background-color: #4a5c8b; color: white;" data-target=".bd-user-modal-lg"
              data-dismiss="modal" >Registrar Usuario</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ARE YOU SURE PRT (SI NO EXISTE CUENTA) -->
  <div class="modal fade bd-user-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" style=" color:black;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 700px">
      <!-- MODAL CREATE USERNAME AND PASS -->
      <div class="modal-content" style="width: 700px">
        <div class="modal-header" style="width: 700px; background-color:#EC7063;">
          <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;">
            Registre el primer usuario
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="max-height: 700px; max-width: 700px; overflow-y: auto;">
          <div class="form-group row">
            <label class="col-md-3 form-controllabel" for="Username">Nombre de usuario</label>
            <div class="col-md-9">
              <input [(ngModel)]="user.Username" type="text" id="Username" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-controllabel" for="Password">Contraseña</label>
            <div class="col-md-9">
              <input [(ngModel)]="user.Password" type="password" id="Password" class="form-control" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-danger" style="background-color:#EC7063;" (click)="saveFirst()">Registrar
            Usuario</button>
        </div>
      </div>
    </div>
  </div>
</body>