<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha_Caudicidad</th>
            <th scope="col">Providers_Id</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lot of lot">
            <td>{{lot.Lot_Id}}</td>
            <td>{{lot.Due_Date}}</td>
            <td>{{lot.Product_Id}}</td>
            <td><a class="btn btn-primary btn-sm" routerLink="/lot-form/{{lot.Lot_Id}}">Editar</a> &nbsp;
            </td>
        </tr>
    </tbody>
</table>

