<div class="container">
    <div class="container card">
      <div class="card-body" style="height: 100%">
        <h2 class="alert alert-primary" role="alert" style="text-align: center">
          Agregar Usuario Nuevo
        </h2>
        <div
          class="alert alert-warning"
          role="alert"
          style="background-color: #699dbf; height: 100%"
        >
          <div class="form-group row">
            <label class="col-md-3 form-controllabel" for="Nit">Usuario</label>
            <div class="col-md-9">
              <input
                [(ngModel)]="user.Username"
                type="text"
                id="Nit"
                class="form-control" minlength="6" maxlength="20" required=""
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-controllabel" for="Fiscal_Name"
              >Contraseña</label
            >
            <div class="col-md-9">
              <input
                [(ngModel)]="user.Password"
                type="password"
                id="Fiscal_Name"
                class="form-control" maxlength="35" required=""
              />
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-md-3 form-controllabel" for="UserType">Tipo de usuario </label>
            &nbsp;&nbsp;&nbsp;&nbsp;<label for="admin" style="color: white;">Admin</label>&nbsp;
            <input type="radio"  [(ngModel)]="user.Usertype" id="admin" value="1" checked>&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="usuario" style="color: white;">Usuario normal</label>&nbsp;
            <input type="radio"  [(ngModel)]="user.Usertype" id="usuario" value="0">
        </div>

      <!-- NUEVO EMPLEADO -->
      <label class="col-md-3 form-controllabel" for="employee"> Seleccione empleado: </label>&nbsp;
      <select id="employee" name="employee" [(ngModel)]="user.Employee_Id"
          [ngModelOptions]="{standalone: true}" style="width:40%; height: 25px; border-color: white; border-radius: 4px; height: 35px;">
          <option *ngFor="let employee of employee" value="{{employee.Employee_Id}}"
              style="height: 1300px">
              {{employee.Names}}
          </option>
      </select>
        <!--  FIN  -->
          <br><br><br>
          <div class="form-group row">
            <div class="col-md-12">
              <button (click)="saveUser()" class="btn btn-success btnblock">
                Registrar un usuario
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
