<a class="btn btn-success btnsm" routerLink="/payment-form" style="float: right;">Agregar +</a>
<div style="height:50px;"></div>

<h1>Listado de pagos</h1>
<table class="table">
    <thead class="thead-dark">  
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de metodo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let payment of payment">
            <th>{{payment.Payment_Id}}</th>
            <td>{{payment.Method_Name}}</td>    
            <td><a class="btn btn-warning btn-sm" routerLink="/payment-form/{{payment.Payment_Id}}">Editar</a>
                <a class="btn btn-danger btn-sm" (click)="delete(payment.Payment_Id)" routerLink="/payment-home" style="color:white;">Eliminar</a>
            </td>
        </tr> 
    </tbody>
</table>



