<div class="container">
    <h1 style="text-align: center; font-weight: bold;">Listado de Proveedores</h1>
    <h2 style="text-align: center;">____________________</h2><br><br>
<form>
    <div class="form-group row">
        &nbsp;&nbsp;&nbsp;<i class="fa fa-search fa-lg" style="left: 300px;"></i>&nbsp;&nbsp;&nbsp;
        <input type="text" class="form-control" name="searchTerm3" [(ngModel)]="searchTerm3" placeholder="Buscar proveedor" style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-success btnsm" routerLink="/providers-form">Agregar Proveedor</a>
    </div> 
</form>
<br>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-hover" style="background-color:#F8F9F9;">
    <thead class="thead-dark">
        <tr>
            <th class="header" scope="col">#</th>
            <th class="header" scope="col">NIT</th>
            <th class="header" scope="col">Nombre Fiscal</th>
            <th class="header" scope="col">Número de teléfono</th>
            <th class="header" scope="col">Otro número de teléfono</th>
            <th class="header" scope="col">Correo electrónico</th>
            <th class="header" scope="col">Dirección</th>
            <th class="header" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let provider of providers | filterProviders:searchTerm3">
            <td>{{provider.Providers_Id}}</td>
            <td>{{provider.NIT}}</td>
            <td>{{provider.Fiscal_Name}}</td>
            <td>{{provider.Phone_Number1}}</td>
            <td>{{provider.Phone_Number2}}</td>
            <td>{{provider.Email}}</td>
            <td>{{provider.Address}}</td>
            <td><a class="btn btn-warning btn-sm" style="background-color:#F7985B;" routerLink="/providers-form/{{provider.Providers_Id}}">
                <i class="fa fa-pencil-square-o fa-lg" style="color: white;"></i></a>&nbsp;
                <a class="btn btn-danger btn-sm" (click)="delete(provider.Providers_Id)" style="background-color:#e74c3c;">
                <i class="fa fa-trash fa-lg" style="color: white;"></i></a>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>