<div class="container">
    <h1 style="text-align: center; font-weight: bold;">Listado de Proveedores</h1>
    <h2 style="text-align: center;">____________________</h2><br><br>
<form>
    <div class="form-group row">
        <div class="col-md-9">
            <button type="submit" style="background-color: rgb(124, 204, 253);"><i class="fa fa-search"></i></button>
            <input type="text" class="formcontrol" name="searchTerm3" [(ngModel)]="searchTerm3" placeholder="Buscar proveedor" style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success btnsm" routerLink="/providers-form">Agregar Proveedor</a>
        </div>
    </div> 
</form>
<br>
<table class="table table-hover" style="background-color:#F8F9F9;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">NIT</th>
            <th scope="col">Nombre Fiscal</th>
            <th scope="col">Número de telefono</th>
            <th scope="col">Otro número de telefono</th>
            <th scope="col">Correo electronico</th>
            <th scope="col">Dirección</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let provider of providers | filterProviders:searchTerm3">
            <td>{{provider.Providers_Id}}</td>
            <td>{{provider.NIT}}</td>
            <td>{{provider.Fiscal_Name}}</td>
            <td>{{provider.Phone_Number1}}</td>
            <td>{{provider.Phone_Number2}}</td>
            <td>{{provider.Email}}</td>
            <td>{{provider.Address}}</td>
            <td><a class="btn btn-info btn-sm" style="background-color: #6cb3aa;" routerLink="/providers-form/{{provider.Providers_Id}}">Editar</a>
                <a class="btn btn-danger btn-sm" (click)="delete(provider.Providers_Id)" style="color:white;">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
</div>